[2015-09-22 00:06] 0x1mason opened #1 "Add index and search support"

[2015-09-22 00:06] 0x1mason opened #2 "Support get nearest"

[2015-09-22 00:07] 0x1mason opened #3 "Support get box"

[2015-09-22 00:08] 0x1mason opened #4 "Setting GribMessage default to KeyFilters::SkipDuplicates causes error"

[2015-10-09 17:11] 0x1mason commented on #3
Implemented for Gaussian grids. Can add more if there are the users to justify it.

[2015-10-09 17:11] #3 closed

[2015-10-09 19:22] 0x1mason opened #11 "libjasper does not have correct freeglut x64 reference"

[2015-10-13 12:44] rzee7 opened #12 "GribFile::GetEnumerator fails in ASP.NET"
Hi Guys,

Thanks a lot for the library you are building, It seems like so easy to use but unfortunately, I tried and not able run this library at my place.

getting this error : error LNK1181: cannot open input file 'zlib.lib'

can you please help me to resolve this?

Thanks in advance
RIYAZ

[2015-10-15 17:26] 0x1mason commented on #12
@rzee7 Sorry to hear you're having issues. What OS are you using? Can you tell what architecture your project is targeting? Does it happen if you specify x86 or x64? Also, if possible, can you link to a sample GRIB file so I can try to repro?

[2015-10-16 16:45] #11 closed

[2015-10-16 16:47] 0x1mason commented on #12
@rzee7 I've pushed a beta package. I believe it may resolve your issue. Can you try installing it?

From the Package Manager Console:

[code]

[2015-10-16 17:09] rzee7 commented on #12
Hi @0x1mason Thanks a lot giving your time and attention :)

I will try and update you asap.

Again Thanks a lot.

[2015-10-16 17:55] 0x1mason commented on #12
Sounds great, lmk.

[2015-10-19 12:58] rzee7 commented on #12
Hi @0x1mason
Hope you are doing good. thanks for your effort.

I have build a console application and tried to add GribApi.net from nuget package It works. but the same steps i have tried with in the WebApi solution It doesn't work there. Giving following exception:

[code]

Looking forward to here you back.

Thanks
RIYAZ

[2015-10-19 16:27] 0x1mason commented on #12
I'm happy to hear the console app worked for you, though I'm sorry to hear Web API did not. Does the problem resolve if you set `Properties > Build > Platform target:` to x86 in your web app?

![For example](http://i.imgur.com/0mXhxZt.png)

[2015-10-19 16:29] rzee7 commented on #12
Hi @0x1mason

Thanks a lot for your quick response. Let me try I will ping you soon, :+1:

[2015-10-19 18:01] rzee7 commented on #12
Hi @0x1mason
I have tried the same you suggest but the same issue. :( Is this working your side?

[2015-10-19 18:10] rzee7 commented on #12
See issue in details:

 ![](http://content.screencast.com/users/IAm7/folders/Jing/media/09e81e55-52c8-49c4-9e85-f85db6347649/2015-10-19_2338.png)

[2015-10-19 18:21] 0x1mason commented on #12
The Exception in the pic is different than the trace you posted. In the trace, the problem was `SetDllDirectory`, in this case it's that it can't find `Grib.Api.Native.dll`. I haven't been able to reproduce the SetDllDirectory issue, but I have reproduced the `Grib.Api.Native.dll` problem. You can work around it by copying the `Grib.Api` directory to "C:\Program Files\IIS Express". I'll push a fix

[2015-10-19 18:24] 0x1mason commented on #12
By the way, thank you for your patience and help :+1:

[2015-10-19 19:17] rzee7 commented on #12
Hey @0x1mason   Thanks a lot for your instant help :)

That issue has resolved now. bur have another issue is coming while doing `grbFile.First()` or similar. getting following:

![](http://content.screencast.com/users/mynk000/folders/Jing/media/c23fa807-b18f-4654-b37d-6e4dc72f4dcf/2015-10-20_0043.png)

Thanks
RIYAZ

[2015-10-19 19:32] 0x1mason commented on #12
What are you doing to my library ?!?!? Just joking ;-)

This is great actually--I haven't tested it in a web app. A few questions

1) Does this occur the first time you call grbFile.First()? If "yes", can you share your grib file?
2) Does the same thing happen in a console app?
3) Does the same thing occur in x86 and x64?

[2015-10-19 19:44] rzee7 commented on #12
Hahahaah Hilarious!! :/

you can find full code and a file [Here](https://drive.google.com/file/d/0B2YRI54dv8-NYW5Gam93VTN2VzA/view?usp=sharing)

Thank you @0x1mason

[2015-10-20 08:54] rzee7 commented on #12
Hello @0x1mason

Any luck that may help me :)

Thanks
RIYAZ

[2015-10-20 12:50] 0x1mason commented on #12
Can't get to this atm. I did notice you weren't using the beta I pushed.
You might give that a try.

Also, you can do the grib processing in a console app for now and call the
console app from your web app. That at least will unblock you until I can
get it debugged.
On Oct 20, 2015 4:54 AM, "RIYAZ (Xamarin Students Ambassador)" <
notifications@github.com> wrote:

[2015-10-21 16:52] 0x1mason commented on #12
@rzee7
Here's the problem the problem I'm seeing when calling `gribFile.First()` using the 0.6.0-beta package: When you debug from Visual Studio, IIS Express does some magic copying of your DLLs. The problem is that it can't find the "definitions" folder. The definitions directory is in the "Grib.Api" folder.

There are some changes to the IIS Express config you can make to change how it copies dl

[2015-10-24 14:55] 0x1mason commented on #12
@rzee7 Were you able to get this working?

[2015-10-26 06:42] rzee7 commented on #12
Hi @0x1mason

apologies for the delay, had a long off :) Just came back to my work. Thanks aaa lot!! for your response. I will try this today and get back to you with the result. :+1:

Thanks
RIYAZ

[2015-10-27 19:31] silv2015 opened #13 "Missing Element with Grib 2 files"
Hi!

First I want to tell you that this project looks very promising! Good Work!

In our project, we are already use GDAL and it's C# wrapper but we are looking for another library to load our grib 1 and 2 files.

I have a Grib 2 files (GFS.grb2) in which I have 4 elements that we call Channels:
Temperature
U component of Winds
V component of winds
Total Precipitation

I can read all channels exce

[2015-10-28 15:48] 0x1mason commented on #13
@silv2015 Thanks for trying the library! I will look into this and see if I can reproduce the issue.

I just released a new version, though I have no reason to think it will solve your problem.

[2015-10-28 15:51] 0x1mason commented on #12
Hi @rzee7

I released 0.6.0 today. Checkout the part of the README regarding "Shadow Copy". The new `GRIB_API_DIR_ROOT` environment variable should simplify working with ASP.NET.

Marking this as closed. If you're still having issues, let me know and we can reopen.

[2015-10-28 15:51] #12 closed

[2015-10-28 16:57] 0x1mason commented on #13
This works for me using v0.6.0:

[code]

[Here's the file](https://onedrive.live.com/redir?resid=CC5B0865353E559!1033&authkey=!AI_LCWk0STM-0GA&ithint=file%2cgrb) I used.

[2015-10-28 17:10] 0x1mason commented on #1
I think LINQ is sufficient for this until users show an interest in the indexing feature.

[2015-10-28 17:10] #1 closed

[2015-10-28 17:20] 0x1mason commented on #13
If that ^ doesn't work for you, can you explain what you mean by "doesn't work"? Are you getting an exception? If so, what does the exception say?

[2015-10-28 18:34] silv2015 commented on #13
Hi 0x1mason!

Thanks for the answer, I downloaded your file and will give it a try

I will have another try with my file and send you what I mean by 'doesn't work'

it does not give me any exception, it's just kind of skip it.

Thanks again

[2015-10-28 18:57] silv2015 commented on #13
Here I have the result...

If I load your file, yes it works:
0:[u] "U U-component of wind m s**-1" (instant):regular_ll:surface 1:fcst time 6 hrs :from 2015-09-02 1200
1:[v] "V V-component of wind m s**-1" (instant):regular_ll:surface 1:fcst time 6 hrs :from 2015-09-02 1200

But If I load my file (.grb2) here what I have:
0:[2t] "Temperature" (instant):regular_ll:heightAboveGround 2:fcst time 0 h

[2015-10-28 19:20] 0x1mason commented on #13
You could be right, though I thought the file I used was GRIB 2, despite
the extension.

Can you see the v-component messages in GDAL, degrib, etc? I'm sure you've
confirmed it already, but worth asking.

On Wed, Oct 28, 2015 at 2:57 PM, Martin Brousseau notifications@github.com
wrote:

[2015-10-29 12:43] silv2015 commented on #13
Hi 0x1mason!

I can see the component with GDAL no problem, here is an output I copy from a test:

[code]

---

[code]

---

[code]

---

[code]

---

[code]

[2015-10-29 15:11] 0x1mason commented on #13
Wow. Weird.

As a sanity check, I downloaded a GRIB2 file from NOAA and could see the
v-comp, so I haven't been able to repro the issue yet. Unfortunately, I'm
not going to be able to debug the issue until I can reproduce it. Here
are some options for moving forward:
1. You can find a shareable file that elicits the same behavior.
2. I can work something out with your employer in terms of signing

[2015-10-29 17:36] 0x1mason commented on #13
@silv2015

I have one more guess: the problem could be your v-comp messages use multiple fields, which isn't enabled by default. Try this:

[code]

I haven't test this feature yet. Will do once I get appropriate test data. I also may have found some  data at the CISL site, but trying to find some that aren't 200+ GB.

Also, I just noticed there's a bug in the getter for `EnableMultipleFieldMessage

[2015-10-29 17:44] 0x1mason commented on #13
Similar issue here: https://code.zmaw.de/boards/1/topics/2835

[2015-10-30 05:30] VishmayShah opened #14 "An unhandled exception of type 'System.AccessViolationException' occurred in Grib.Api.dll” randomly"
Hello,

We are facing issue on grib api. That is throwing Execption of type “An unhandled exception of type 'System.AccessViolationException' occurred in Grib.Api.dll” randomly version="0.5.1"

As we are sure that we have completely/properly installed gribapi, mostly first time data is also decoded and we are able to read and save also.
After that after some random steps we are facing this issue i

[2015-10-30 12:11] silv2015 commented on #13
Good Morning 0x1mason!

I just arrived at the office, thanks for the suggestion!

I will try it today and if I still cannot load it, I will ask how we can arrange so that you can have the file I'm using

[2015-10-30 13:05] silv2015 commented on #13
YES!!! This was it!

I added `file.Context.EnableMultipleFieldMessages = true;`

and now I can see the v component... Man I need to review the info I have on the Grib 2 format!

Thanks a lot!!!

[2015-10-30 13:18] 0x1mason commented on #13
Woot! Glad it worked.
On Oct 30, 2015 9:05 AM, "Martin Brousseau" notifications@github.com
wrote:

[2015-10-30 14:17] 0x1mason commented on #13
Will add note to Usage section about this.

Thanks again for trying the library. Let me know if you have further issues.

[2015-10-30 14:17] #13 closed

[2015-10-30 14:19] 0x1mason opened #15 "EnableMultiFieldMessages does not properly set backing field"

[2015-10-30 14:27] 0x1mason commented on #14
Sorry to hear you're having problems. I will see if I can reproduce these problems.

I resolved some access violations in v0.6.0, which I published a couple days ago. Please try the new version while I work on this. Please also let me know if it makes any difference if the debugger is attached (eg, if you double click on the exe, do you still get the exceptions).

Thanks!

[2015-11-01 21:01] 0x1mason commented on #14
@VishmayShah
Are you deleting the file _inside_ the `using` statement? That's a really bad idea. That should be easily correctable in your code.
1. I couldn't replicate an access violation in the scenarios you mentioned. There was an exception when closing file handles that might be part of the issues you experienced. I just pushed a fix (v0.6.1) that may solve your problems.
2. What is the messag

[2015-11-01 21:12] 0x1mason commented on #15
fixed in 0.6.1

[2015-11-01 21:15] #15 closed

[2015-11-01 22:23] VishmayShah commented on #14
hello @mason,
First of all thank you for quick reply,
and Sorry for my Late response as weekends

the message is same as above An unhandled exception of type 'System.AccessViolationException' occurred in Grib.Api.dll” randomly version="0.5.1"

while we faced this issue we have used our grib files more than 6 mb containing 1050000 records each and there were near about 13 files for decode but not a

[2015-11-02 01:13] 0x1mason commented on #14
Thanks for the extra information.  My email is etmillin@gmail.com if you'd like to contact me directly. I'm also willing to sign non-disclosure agreement, provide references, etc., as needed.

Let me know how it goes with v0.6.1. Obviously I need to automate the assembly versioning changes because I've forgotten to increment along with the package number.

[2015-11-02 01:17] 0x1mason opened #16 "Automate incrementing assembly version"

[2015-11-02 15:25] 0x1mason commented on #14
@VishmayShah

Thanks for the files.

I still cannot replicate the issue. First, here are the settings I tried:
- Debug and Release
- Any CPU, x64, and x86
- v0.6.1
- Console application

My machine:
- Win 10 x64
- 16GB RAM (though even on x64, I never saw more than 50MB of RAM used)

Code:

[code]

Possible next steps:
1. Send me your project or tell me what you're doing that's significantly diffe

[2015-11-03 07:45] VishmayShah commented on #14
Thanks to your support, i was able to resolve the problem.
the problem was that i was having two project
1. class library and
2. Windows app that referance to 1. class library
both of them were referencing grib api, so i remove reference from 2. Windows app and moved coding to 1. class library
and the problem was solved
thank you

[2015-11-03 15:09] 0x1mason commented on #14
Great! Glad you got it resolved.
On Nov 3, 2015 2:45 AM, "VishmayShah" notifications@github.com wrote:

[2015-11-03 16:27] #14 closed

[2015-11-16 08:48] VishmayShah commented on #14
Restarted error without reason
An unhandled exception of type 'System.AccessViolationException' occurred in Grib.Api.dll

Additional information: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.

this time i have arranged stack trace, can you give me reason for this. i am not finding any defect in my code
   at Grib.Api.Interop.Util.GribApiNati

[2015-11-16 13:48] 0x1mason commented on #14
This is the error related to closing file handles that I mentioned. Please
install the latest version 0.6.3, and let me know if the problem persists.
On Nov 16, 2015 3:48 AM, "VishmayShah" notifications@github.com wrote:

[2015-11-16 14:10] 0x1mason commented on #14
If this is still occurring, please let me know when it occurs. Thank you.
On Nov 16, 2015 8:48 AM, "Eric Millin" etmillin@gmail.com wrote:

[2015-11-24 03:32] VishmayShah commented on #14
i made 2 thing
1. i redownloaded grib api and 2.installed latest version
which solution did the trick, i don't know but it has been started working properly
thank you

[2015-11-24 17:36] 0x1mason commented on #14
Great to hear!

Should have some more fixes published soon.

On Mon, Nov 23, 2015 at 10:32 PM, VishmayShah notifications@github.com
wrote:

[2015-11-25 10:48] VishmayShah commented on #14
where is 0.6.3 in packagemanager console i recently used "Install-Package Grib.Api -pre" and latest version was 0.6.1

[2015-11-25 16:12] 0x1mason commented on #14
I meant to type 0.6.2 before, but now 0.6.3 is available: https://www.nuget.org/packages/Grib.Api

[2015-12-01 03:06] VishmayShah commented on #14
Hello,
beta version command
"-pre" was containing 0.6.1
while main version was 0.6.3
beta have more higher version than stable so just asked

On Wed, Nov 25, 2015 at 9:42 PM, Eric Millin notifications@github.com
wrote:

##

Vishmay Shah
9427376960

[2015-12-21 09:37] VishmayShah opened #18 "An unhandled exception of type 'System.AccessViolationException' occurred in Grib.Api.dll"
I Find a special case when this exception is thrown
in my code i have

function1()
{
           try
                        {
                           using (GribFile gribFile = new GribFile(readPath))
                            {
                                    //some work
                                   gribFile.Dispose();
                                   GC.Collect();

[2015-12-21 21:59] 0x1mason commented on #18
Ok, I'll take a look at it. Do you need a temporary workaround? Should be simple.

You shouldn't need to make any of those calls to GC. `Dispose` gets called when control leaves the `using` block. That in turn calls `GC::SuppressFinalize`. Furthermore, `Collect` only collects managed memory.

[2015-12-21 22:06] 0x1mason commented on #18
For now, you can use `FileInfo::Length` to check the file length before creating the GribFile. https://msdn.microsoft.com/en-us/library/system.io.fileinfo.length(v=vs.110).aspx

[2015-12-22 05:15] VishmayShah commented on #18
Thanks for quick resolution, i will implement it and reply .
but this is  not complete because reason of going to catch may be other
like Half downloaded file will throw error of end of file reached
Still my temp solution is done thank you

[2015-12-22 05:18] VishmayShah commented on #18
and also dispose and collect was used just for purpose of safety nothing else

[2015-12-24 21:04] #2 closed

[2015-12-30 10:54] VishmayShah commented on #18
do we have any progress in resolution of this bug?

[2015-12-30 13:05] 0x1mason commented on #18
Not yet. Is the workaround working for you?
On Dec 30, 2015 5:54 AM, "VishmayShah" notifications@github.com wrote:

[2015-12-30 14:36] VishmayShah opened #19 "What are prerequisites to run this dll in newly installed os pc in win 7,8,10"
What are prerequisites to run this dll in newly installed os pc in win 7,8,10
like c++ packs and compilers, framewords

so that it can run without visual studio
actually i have uninstalled vs and now i am getting error that cannot load dll

[2015-12-30 14:38] VishmayShah commented on #18
Half downloaded file will throw error of end of file reached.
so not 100% working

[2015-12-30 14:59] 0x1mason commented on #19
Try this: ~~https://www.microsoft.com/en-us/download/details.aspx?id=30679~~
https://www.microsoft.com/en-us/download/details.aspx?id=40784

[2015-12-30 15:05] 0x1mason commented on #19
If that doesn't work, try .NET 4. Let me know what did the trick.

[2015-12-30 15:12] 0x1mason commented on #18
Ok, sorry about that. I'll try to get to it by Monday. Until then, try the following:
1. Download a hex editor, eg [HxD](http://mh-nexus.de/en/downloads.php?product=HxD)
2. Open a _complete_ file and check the very last characters. They're probably "7777". If not, check the spec for your GRIB version and find out the terminating characters for your GRIB message.
3. In addition to the `FileInfo::Le

[2015-12-31 10:41] VishmayShah commented on #19
still Not working , i have win 10  os
The type initializer for 'Grib.Api.GribFile' threw an exception.

Exception : System.Exception: Can't load DLL C:\Program Files (x86)\MareCast\FMIDataSetup\Grib.Api\lib\win\x86\Grib.Api.Native.dll ---> System.ComponentModel.Win32Exception: The specified module could not be found

   --- End of inner exception stack trace ---

   at Grib.Api.Interop.Util.Win32.

[2015-12-31 11:28] VishmayShah commented on #18
(37 37 37 37)7777 i am getting at last point
grib2 is my version

[2015-12-31 12:45] VishmayShah commented on #19
start working with unstalling/uninstalling many vc++ runtime version, dont know which version it is

[2015-12-31 17:05] 0x1mason commented on #18
If you check for that in the downloads, that will tell you if you have a good file or not.

[2016-01-10 17:38] asafHorvitz opened #20 "Exception in azure cloud worker role"
Hi,

 Worked with the grib.api in c# in console application - works great.

When i used it on the azure cloud worker role - i get exception in this line:

using (GribFile gribFile = new GribFile(gribFilePath))

there is a valid file path - it works in the console application

the exception is:

+		InnerException	{"Could not find Grib.Api.Native. If you're using ASP.NET or NUnit, this is usually ca

[2016-01-10 17:57] asafHorvitz commented on #20
used the:
 GribEnvironment.DefinitionsPath = "C:\projects\TaranisWeb\packages\Grib.Api.0.6.3\Grib.Api\definitions"

also didnt work...

[2016-01-11 08:54] asafHorvitz commented on #20
Environment.SetEnvironmentVariable("GRIB_API_DIR_ROOT", "C:\Some\Path", EnvironmentVariableTarget.Process);

also didnt work...

[2016-01-16 02:04] 0x1mason commented on #20
Hm, I'll have a look.

[2016-01-16 02:05] 0x1mason commented on #20
Is the console application running on azure or do you mean locally?

[2016-01-16 02:15] 0x1mason commented on #20
Also, are you sure that the gribapi.net folder is part of your deployment?

[2016-01-16 20:52] #19 closed

[2016-01-16 20:57] 0x1mason commented on #18
Hi Vishmay,

Thanks for your patience. Can you try installing [0.6.4-beta](https://www.nuget.org/packages/Grib.Api/0.6.4-beta) and let me know if it resolves your issues?

You should get a `FileLoadException` for the empty file and a `GribApiException` for an incomplete file. You'll have to handle those exceptions as you would other valid exceptions. However, you shouldn't get any `AccessViolation

[2016-01-16 21:04] 0x1mason commented on #20
This might no longer be valid, but you may need to do as described here: http://blogs.msdn.com/b/jnak/archive/2009/03/18/calling-into-native-dlls-on-windows-azure.aspx

The key bit, I think, is this:
[code]

[2016-01-23 20:46] 0x1mason commented on #18
@VishmayShah I'm hoping this is resolved for you. If not, let me know.

[2016-01-23 20:46] #18 closed

[2016-01-23 23:40] 0x1mason commented on #18
For the actual 0.6.4 release, I've changed it so both situations throw `FileLoadException`. I also hardened the EOF check for 7777.

[2016-01-28 13:28] Programmer79 opened #21 "Problem in buind solution on visual studio 2013 v120"
Hello,
when i need to build the solution in build\Grib.Api.Master.sln with VS2013 v120 i found many problem:

1. grib_api_version.h not found (resolved)
I take it in c api from https://software.ecmwf.int/wiki/display/GRIB/Home
2. some problem with overide (resolved)

Now I have other problem:
libpngpf not found.

What am I doing wrong ?

regards.

[2016-01-29 01:53] 0x1mason commented on #21
grib_api_version.h had to be generated via make when I started the project. I've fix that along with some other errors, so please pull the latest code.

I don't ever build using the VS UI, I always use the build script. I updated README to reflect this and [added better instructions](https://github.com/0x1mason/GribApi.NET#building). Make sure you read them, but basically you'll do something like:

[2016-01-29 01:58] 0x1mason commented on #21
You'll see a bunch of warnings, just ignore them :) build output is in the bin folder

[2016-01-29 02:11] 0x1mason commented on #20
Closing this due to inactivity. Please let me know if this is still an issue for you.

[2016-01-29 02:11] #20 closed

[2016-01-29 05:04] VishmayShah commented on #18
i am not sure on will it work or not as i am not upgrading it now as it is used.
the origin of problem was that in try catch block if flow goes to catch block then gribapi was not disposing

so we think that not let flow go in catch, so that check for empty file if not then try to read else don’t initialize grib api
same was needed for half downloaded files (that is pending in my proj)
so FileLoad

[2016-01-29 05:18] VishmayShah commented on #18
Thank you for your great responce

[2016-01-31 21:01] 0x1mason commented on #18
If your current solution works for you, then I would not make any changes. Here's how you would use the new changes:

[code]

[2016-02-14 14:35] 0x1mason commented on #21
Closing due to inactivity. Please let me know if you're still having issues.

[2016-02-14 14:35] #21 closed

[2016-02-17 14:33] xavierpena opened #22 "GribApi breaks when running under Windows Forms Application mode"
This API looks great and it is something I had been waiting for a while (reading gribs in .net is quite a nightmare). But I stumbled upon this bug that had me scratching my head for a while:

Apparently, in a Windows Forms Application the code breaks if it is called **after** `Application.Run(new FormMain());` ... but not before, in this case it works like a charm (as it does under any case of Con

[2016-02-19 13:08] jnyrup opened #24 "System.AccessViolationException in Grib.Api.dll"
Sometimes when I run GribApi.NET in VS15 I get a `System.AccessViolationException`.

[code]

I noticed when inspecting `GribIteratorDelete(GribValuesIterator i)` that `i._disposed` is `true` before calling `GribApiProxyPINVOKE.GribIteratorDelete`.

Please let me know if you need more info.
Thank you in advance

**edit:**
I found the problematic code and a solution.
[code]
The solution was to encap

[2016-02-19 23:59] 0x1mason commented on #22
Thanks for the report. I'm guessing this is thread related. Are you storing anythung between UI events? E.g., do you store the GribFile in a member variable and then read it when the user does something?

[2016-02-20 14:22] xavierpena commented on #22
No, I don't. I have made some more tests and I have found the pattern in which the problem appears (although have not found the real source of the problem, just the chain of events in which it appears).

The pattern seems almost unbelievable: the GribApi breaks if and only if I previously click on this function =>

[code]

This function was used in my Form to set the file path of the grib file, bu

[2016-02-20 21:44] 0x1mason commented on #22
Ok, I got it figured out. When you use the OpenFileDialog, it changes the current working directory and grib_api can't find `definitions` folder it needs.

Easiest fix I found is calling `GribEnvironment.Init()` at the entry point to your app. If that doesn't work set
`GribEnvironment.DefinitionsPath` with an absolute path to the `Grib.Api/definitions` folder.

Let me know if this works. I'll impr

[2016-02-21 04:06] 0x1mason commented on #22
Looks like I've got it fixed for the next release.

[2016-02-22 10:55] xavierpena commented on #22
This works like a charm, thank you!

I'll use the `GribEnvironment.Init()` fix until the update of the nugget package is available.

And thanks again for the killer project, I was tired of dealing with the limitations of GribCS (specially being limited to x86). Kudos.

[2016-02-22 23:57] 0x1mason commented on #22
Thanks, delighted people are using it. Let me know if you have any suggestions for new features. I'm not using it anymore, so new features and fixes will have to be driven by request.

[2016-02-22 23:57] #22 closed

[2016-02-24 19:39] 0x1mason commented on #24
I'm going to reopen this so I can see if there's a more elegant solution for users.

[2016-02-29 12:06] kikcorp opened #26 "GeoSpatialValues() returns invalid values for latitude"
Hi All,
I am trying to use your library in my project, but I get an error when calling GeoSpatialValues()
GeoSpatialValues() returns invalid values for latitude
Only first line of latitude is valid...

For example i have the GRIN for 38N 06E - 56N 39E with only one message - temperature

API returns valid GRID only for 56N latitude, for other rows latitude is invalid

{"Latitude":56.0,"Longitude":

[2016-03-01 04:45] 0x1mason commented on #26
Can you share your file? What should the lat be in the other cases?

[2016-03-01 11:32] kikcorp commented on #26
incremet on grid step for each "line" of Latitude
Example of file https://drive.google.com/file/d/0B9ZhPptl97CbLXRlVmctVHYxcFk/view

[2016-03-03 02:53] 0x1mason commented on #26
Yes, I see what you're talking about. In the sample file, it looks like the jDirectionIncrement is the culprit. It's 33.018 which accounts for the crazy offsets you're seeing. zyGrib seems to handle it properly: http://i.imgur.com/7Pwb2Uh.png.

I'll continue to look into it and contact the grib_api team, since I don't think this has anything to do with my code.

[code]

[grib_dump.txt](https://git

[2016-03-03 04:01] 0x1mason commented on #26
What happens if you set `jDirectionIncrement` to 0.25?

[code]

When I did it for the first message in the sample file, I got values like this:

[code]

Hoping that provides you with a workaround.

[2016-03-03 11:22] kikcorp commented on #26
Thank you!
You make my day!

But i have another BUG with time of the grib message, all message have the same time as the first message time. In the file i have forecast for future dates (

May be we need to reset another key for right value?

[2016-03-03 11:24] kikcorp commented on #26
http://imgur.com/qc4XJa4

[2016-03-03 12:53] 0x1mason commented on #26
Do the `validityTime` and `validityDate` keys work?

[2016-03-05 22:28] 0x1mason commented on #26
I've got a fix. It'll be in the next release. You can figure out correct time by adding P2 or using validityTime & date.

[2016-03-06 00:08] 0x1mason commented on #24
Your first bit of code should work in the next release.

[2016-03-06 00:08] #24 closed

[2016-03-06 00:48] #4 closed

[2016-03-10 05:44] moab360 opened #27 "Lat/lon are wrong for polar stereographic grid"
Thanks for providing this wrapper.  Once I get it up and running I'm sure it'll be super useful :)

I used NuGet to install Grib.Api in VS2015.  When I try to load a Grib file (new GribFile(...)), I get an insta-crash that i'm unable to debug into.

So I figured I'd build the dlls on my own from the source.  Grib.Api.dll builds fine but Grib.Api.Native is failing with a link error to 'grib_api.lib

[2016-03-10 10:29] kikcorp commented on #26
| Do the validityTime and validityDate keys work?

Yes!  Thank you...

[2016-03-10 19:55] 0x1mason commented on #27
Regarding the insta crash, what type of app are running? What are you doing when it crashes?

[2016-03-10 20:13] moab360 commented on #27
The end goal is that this code would sit on a ASP.Net server (Azure) and at some frequency parse a set of grib files into a database.

Until then I have it in a simple WPF app so I can validate the contents of the grib and compare values to what I'm seeing in NOAAs Climate viewer.  The app crashes when GribMessage msg = file.First() is called.

[code]

In the debugger I can see that a GribFile is

[2016-03-10 20:31] 0x1mason commented on #27
Btw, the insta crashes are actually built into grib_api. They abort the process on a fatal error.  I've avoided hacking their library, but this is frustrating and I will probably have to.

[2016-03-10 20:55] moab360 commented on #27
I figured as much.  I didn't look through the grib_api but looking through your wrapper I assumed the crash wasn't in there

Interesting side note.  If I run VS with admin rights then nothing seems to crash.  But the values I end up getting for Latitude and Longitude seem... off.  For example, the Longitude ranges from roughly 70 to 420.

[2016-03-10 21:05] 0x1mason commented on #27
Regarding "offness":
Can you take a [look at this](https://github.com/0x1mason/GribApi.NET/issues/26)? About half way down I mention j/iDirectionIncrement. Check those and look for crazy values. If it's a true grid, make sure they're equal. The formula to figure the correct value is simple. If you need help, lmk.

Regarding crash:
The admin thing is interesting and you may have actually hit on som

[2016-03-10 22:07] 0x1mason commented on #27
https://msdn.microsoft.com/library/azure/gg557553.aspx#WebRole

`enableNativeCodeExecution` should be enabled by default, but you want to check.

[2016-03-10 22:22] moab360 commented on #27
re: j/iDirectionIncrement - I'm actually not seeing those keys at all...  That might explain the weirdness.  How should they be set?

re: native code -  thanks for the reference above!  I'll give that a try.

[2016-03-10 22:43] 0x1mason commented on #27
Some how I missed this post about WPF. `GribEnvironment.Init` should cure
your ills. See #22.
On Mar 10, 2016 3:13 PM, "moab360" notifications@github.com wrote:

[2016-03-10 22:57] moab360 commented on #27
Oh nice, that fixed the crash!  Now I don't have to boot VS with admin rights :)

[2016-03-10 22:58] 0x1mason commented on #27
Looking at the lat/lon values now.

[2016-03-10 23:30] 0x1mason commented on #27
Key dump for reference

[key_dump.txt](https://github.com/0x1mason/GribApi.NET/files/168213/key_dump.txt)

[2016-03-10 23:59] 0x1mason commented on #27
This code prints lat/lons in the expected range. Can you verify you're getting wacky data?

[code]

[2016-03-11 01:23] moab360 commented on #27
I'm just writing the values directly into a .csv (converted to xlsx so I could upload, let me know if you can't get at that)

Here is the function creating the dataset

private void OpenGRIBFile(object sender, RoutedEventArgs e)
        {
            GribEnvironment.Init();

[code]

[GeoSpatialValuesToCSV.xlsx](https://github.com/0x1mason/GribApi.NET/files/168311/GeoSpatialValuesToCSV.xlsx)

[2016-03-11 02:26] 0x1mason commented on #27
Bizarro. My csv comes out completely empty.

[2016-03-11 02:41] moab360 commented on #27
Hmm, I'll keep looking to see what's going on.  FYI  I'm using the NuGet version Grib.Api 0.6.3 and VS 2015

[2016-03-11 02:51] 0x1mason commented on #27
Are you using the same file you attached above? I can't repro with 0.6.3.

Can you try this? https://www.nuget.org/packages/Grib.Api/0.6.5-beta

[2016-03-11 03:00] moab360 commented on #27
Crud, sorry I linked the wrong Grib above
http://dd.weather.gc.ca/model_gem_regional/10km/grib2/00/000/CMC_reg_TCDC_SFC_0_ps10km_2016031100_P000.grib2

[2016-03-11 03:04] moab360 commented on #27
Same results with 0.6.5-beta.  Longitudes up to 428.7.  Sorry about linking the wrong Grib above :/

[2016-03-11 05:59] 0x1mason commented on #27
I'll ping the grib_api team. Unfortunately, I'm a software developer, not a meteorologist. I can figure out basic calculation errors, but nothing is jumping out at me.

[2016-03-11 18:55] moab360 commented on #27
Fair enough, I'm in the same boat :)  Thanks again for the help

[2016-03-11 23:32] 0x1mason commented on #27
Waiting to hear back. Will update with support ticket info.

[2016-03-15 02:11] 0x1mason commented on #27
Dan, if you want to track this, you can create a free account: https://software.ecmwf.int/issues/browse/SUP-1567

I did manage to find a solution for the abort/exit calls that were causing the process to terminate, so should be more pleasant to use and debug moving forward.

[2016-03-17 03:25] 0x1mason commented on #27
@moab360 Do you know if any of the lat/lon values are correct? I was [reading this](https://nsidc.org/data/polar-stereo/ps_grids.html) and now I'm wondering if this isn't a bug, but rather the assumptions for the polar stereograph need tweaking to get the values to come out right.

[2016-03-28 09:02] asafHorvitz opened #29 "Parse 2 submessages inside one message (windU / windV)"
Hi,

I have a message that contains 2 submessages - wind -  consists of U and V axis and both are in the same message - i am reffering to NAM grib.

in the Grib.api i see only the U axis and i cant parse the V axis

How do I parse it ?

[2016-03-28 13:27] silv2015 commented on #29
Actually it's not a problem, I had a similar situation, you just have to add 'EnableMultipleFieldMessages' after opening the file and before parsing any messages:

[code]

[2016-03-28 13:29] asafHorvitz commented on #29
Great !!!

Thanks !!!

_From:_ Martin Brousseau [mailto:notifications@github.com]
_Sent:_ Monday, March 28, 2016 4:28 PM
_To:_ 0x1mason/GribApi.NET GribApi.NET@noreply.github.com
_Cc:_ asafHorvitz asaf@taranis.ag
_Subject:_ Re: [GribApi.NET] Parse 2 submessages inside one message (windU
/ windV) (#29)

Actually it's not a problem, I had a similar situation, you just have to
add 'EnableMultipleFiel

[2016-03-28 13:59] silv2015 commented on #29
No problem! Glad I helped!

[2016-03-28 21:47] #29 closed

[2016-04-02 11:55] 0x1mason commented on #16
Done

[2016-04-02 11:55] #16 closed

[2016-04-05 00:47] 0x1mason commented on #27
This is fixed. Will be in the next release. If you'd like a workaround sooner, let me know.

[2016-07-09 22:07] bremy opened #30 "Installation process"
Hi Eric,
I am actually using GribCS and would like to switch to your solution but I can't understand the how to install and setup. to have a short sample working correctly
I am on Win7 64bits and uisng VS2015

from what I undestood, it is necessay to run
**build\build_gribapi.cmd build 14 Release 2.6.4**

then _bin\x64\Release\Grib.Api\lib\win\x64_ is created
then I can used the create DLL Grib.Ap

[2016-07-11 17:50] 0x1mason commented on #30
Have you tried adding it via nuget? You may need to install the 2013 redistrib but you likely already have them.

[2016-07-11 18:01] 0x1mason commented on #30
Unless there's a need to build the entire project, I recommend using nuget.

It's also possible that the spaces in you path could cause an issue. grib_api assumes Linux and hence may read the path incorrectly. As a general rule I avoid paths with spaces whenever possible, even on Windows.

Also, did you try without the env variables?

[2016-07-11 18:09] 0x1mason commented on #30
incorrectly ^

[2016-07-11 18:45] 0x1mason commented on #30
@bremy Try https://github.com/0x1mason/grib_api_example

Clone it and build. Should just work. Spaces may not matter.

[2016-07-11 18:52] 0x1mason commented on #30
Ah, I see there's an issue with your path. It should be `C:\Users\Bruno\Documents\Visual Studio 2015\MyRepositoryGit\GribApi.NET-master\bin\x64\Release\`. The way I set it up is confusing, but it should be unnecessary.

I recommend using nuget.

[2016-07-11 20:35] jsbrujy commented on #30
Great that is good ways to explore. I like the grib_api_example suggestion. I have no need to build by myself but getting a DLL will be wondefull

I am going to explore this and will tell you for the results

thanks

[2016-07-12 20:04] jsbrujy commented on #30
Grib_api_example is refering a Package version 0.7.1 for Grib.api
Visual studio seems not able to update for this version

I replaced all "0.7.1" by "0.7.0" in GribExample.csproj

Now able to compile and execute

[2016-07-12 21:01] jsbrujy commented on #30
Grib.api seems to have some issues to extract this type of grib2 data : ftp://ftp.ncep.noaa.gov/pub/data/nccf/com/ngac/prod/ngac.20160712/ngac.t00z.aod_860nm     (link available 2 days only either need to update for a freshest date in the link)

Content for that grib2 file described here http://www.nco.ncep.noaa.gov/pmb/products/ngac/ngac.t00z.aod_340nm.shtml

wgrib2.exe has no issue to extract th

[2016-07-12 22:50] 0x1mason commented on #30
Regarding the values, do the `GeoSpatialValues` contain the information you need? Also some libraries start at the bottom of the grid and read up and vice versa.

Assuming `GeoSpatialValues` has the correct data, it sounds like NOAA is using parameters that ECMWF doesn't. The strings are simply written in a text file in the Grib.Api definitions folder -- `definitions/grib2/template.4.48.def`, for

[2016-07-12 23:02] 0x1mason commented on #30
It looks to me like the remaining information you need is in the web page you linked. Is that right? I.e., if you can get the correct data from GeoSpatialValues, then you already know the parameter name, the description of each msg.

If you need more information, lmk. I can contact the grib_api team if I can't figure it out myself.

[2016-07-13 08:56] jsbrujy commented on #30
Whaoa the definition settings are really powerfull

include "template.4.parameter_aerosol_optical.def", in "definitions/grib2/template.4.48.def" refers to a **non existing table : 4.233.table**
**codetable[2] aerosolType ('4.233.table',masterDir,localDir) : dump;**

Perharp the reason that Values are non correctelly decoded????

extracting into a text format using wgrib2.exe, I can get these value

[2016-07-14 01:00] 0x1mason commented on #30
Are those the values you see or the values you expect to see? I'm looking at the aod_860nm file and I see grid data like this:

[code]

Can you tell me what you expect to see?

[2016-07-14 01:07] 0x1mason commented on #30
I took those values from the first message in this file. You need to change the extension to "zip".
[ngact00zaod860nm.txt](https://github.com/0x1mason/GribApi.NET/files/362837/ngact00zaod860nm.txt)

Can you tell me what wgrib2 gives you?

[2016-07-14 09:00] jsbrujy commented on #30
Extracting your file aod_860nm as Text format with wgrib2, I have those values for the first record. This is for the bottom of the grid (i.d South Pole)

[code]

Looks to be coherent with what you have

When extracting with Grib_api, I can see these type of values  (from double[] lesValues; in the code bellow)

Very different values!!!

[code]

My extraction code looks like this

[code]

[2016-07-14 17:20] 0x1mason commented on #30
Try `GeoSpatialValues`. There's an example in the README. Lmk how it goes.
On Jul 14, 2016 5:00 AM, "bremy" notifications@github.com wrote:

[2016-07-14 22:41] jsbrujy commented on #30
OK I understand now. Wgrib2 and Grib_api are providing values in different orders
Wgrib2 starts at lat -90
Grib_api starts at lat 90
Knowing that, I can see the same values but in different orders

I was able to see that thanks to GeoSpatialValues providing lat & lon for each value

And finaly both GeoSpatialValues and msg.Values(out lesValues) are providing the same and correct "values"

many tha

[2016-07-14 23:24] 0x1mason commented on #30
You're welcome. Glad you got it working. I'll file a ticket re the param
strings. Not sure why they don't display correctly.

On Jul 14, 2016 6:41 PM, "bremy" notifications@github.com wrote:

[2016-07-15 03:09] 0x1mason commented on #30
@bremy It's a small thing, but if you like the project, please :star: it :)  Thanks for using it!

[2016-07-15 03:09] #30 closed

[2016-10-04 16:22] jnyrup opened #31 "Upgrade to future versions of grib-api"
Hi Eric.

You might have noticed that several versions of the GRIB-API has been released since your release gribApi.NET.
IIRC you mentioned somewhere that you don't use your tool that much yourself anymore.

So my question is about how to update to a new version of the grib api.
I read in the release notes that your OpenMP code had been included.
Are the difference between your fork of grib api an

[2016-10-15 02:56] 0x1mason commented on #31
It's possible. The only real difference in the code itself now is that I removed cases where GribApi would exit on error by design and added exceptions. Someone could do a diff and create a patch with it, but for future updates would need to search the code and make changes. Not that hard, as long as you're not terrified of C.

The major difficulty would be VS project files. I had to make a number

[2016-10-15 02:59] 0x1mason commented on #31
I simplified the native code portion with the goal of ultimately have the C# in a separate project. I thought that might encourage folks to contribute.

Here's the simplified native project: https://github.com/0x1mason/GribApi.XP/blob/master/README.md

[2016-10-15 21:25] 0x1mason commented on #31
@jnyrup Is this a general question or is there a specific feature you're waiting for?

[2016-10-20 18:55] jnyrup commented on #31
It was mostly a general question.
To my knowledge I'm not affected by any bugs, but I always gets curious when seeing a lot of bug fixes in release notes.

[2016-10-26 23:42] 0x1mason commented on #31
I'll try to get to this soon. I just moved and have not setup my home dev environment yet.

[2016-11-02 14:11] pavlose opened #32 "GribEnvironment::DefinitionsPath must be a valid path"
Hi Eric,
I have an ASP.NET website (working with Visual Studio 2013) and I am trying to use GribApi.NET. I am trying to create a new GribFile, i.e.,

using(GribFile file = new GribFile(weatherpath)) { }

but I keep getting a GribApiException:

GribEnvironment::DefinitionsPath must be a valid path. If you're using ASP.NET or NUnit, this exception is usually caused by shadow copying. Please see Grib

[2016-11-03 01:50] 0x1mason commented on #32
I moved recently and do not have my windows machine set up yet. A few ideas in the interim:
- At the entry point to you application try changing the working directory to the location of the GRIB.api.dll. Make sure it has the Grib.Api directory in it. Then call GribEnvironment.Init().
- Copy the GRIB.Api dir to your working directory. Then call GribEnv.Init. Try the same thing with the definitions

[2016-11-07 11:16] pavlose commented on #32
Hi Eric,
Still not able to make it work.
Meanwhile, I tried it in a non-ASP.NET app and it worked perfectly.
I will let you know if I have any progress.
In any case, many thanks for your help.

[2016-11-09 23:29] 0x1mason commented on #32
K, will try to get to it soon. I know I made it work at some point.

[2016-11-10 10:00] jnyrup opened #36 "FileIsValid rejects parsable file"
I have a grib2 file from [SADIS](http://www.metoffice.gov.uk/aviation/sadis) containing information on clear air turbulence (CAT).
Parsing it with wgrib2 gives the following output
[code]

GribApi.Net rejects the file in `FileIsValid`.
When omitting the call to `FileIsValid` the file parses without problems.

I tried to look at `FileIsValid`, but couldn't decipher the logic.
Can I send you the fil

[2016-11-11 21:14] 0x1mason commented on #36
Yes. Attach it here or etmillin at gmail.

[2016-11-13 20:51] 0x1mason commented on #32
@pavlose
Sorry for the delay. This works for me:

[code]

I'll fix this in the upcoming release so that you don't have to set this manually.

[2016-11-13 21:18] 0x1mason commented on #32
Note, n my ASP.NET project, the Grib.Net reference, "Copy Local" is set to true.

[2016-11-14 00:33] 0x1mason commented on #36
Fixed. Pushed up the code. Trying to get the package on nuget, but having some network issues. Regardless, should be available soon, along with your PRs.

[2016-11-14 00:33] #36 closed

[2016-11-14 00:35] 0x1mason commented on #32
Please let me know if that works.

I hope to have the fix available via nuget in the next 48 hours.

[2016-11-14 00:36] 0x1mason commented on #31
I'll start working on updating to 1.18.

[2016-11-14 08:15] jnyrup opened #37 "Missing test file"
In `Get.cs` the test `X` has a hardcoded reference to a test file not found among the included test files.
[code]

[2016-11-15 02:36] 0x1mason commented on #37
Fixed

[2016-11-15 02:36] #37 closed

[2016-11-15 02:37] 0x1mason commented on #32
0.7.1 is available on nuget.

[2016-11-15 11:29] pavlose commented on #32
Sorry for taking so long to get back to you.
I got the newer version 0.7.1.  Unfortunately it does not resolve my issue. I tried setting "Copy local" to true, but there is no such option for Grib.api in the reference's properties. I am not sure why this is so...
Meanwhile, I have set up a (non-ASP.net) project and started working with Grib.Api. There, "Copy local" is actually set to true, and Grib

[2016-11-15 14:11] 0x1mason commented on #32
Try this: https://github.com/0x1mason/GribApiAspNet

You'll need to restore all the packages via the VS Nuget UI or via the Pkg Manager Console:

[code]

[2016-11-15 14:13] 0x1mason commented on #32
The actual code is in `Default.aspx.cs`.

[2016-11-15 15:47] pavlose commented on #32
GribApiAspNet worked. I also created a new Project->ASP.NET Web Application and it worked.
It didn't work in my previous tests, because I had created (and was testing it via) a Website->ASP.NET Empty Website. This is also why I saw no "References" in the solution explorer. Probably because of the differences between asp.net web applications and websites in the solution structure and the way they h

[2016-11-15 20:40] 0x1mason commented on #32
Glad you got it working. Let me know if you need any further assistance.

[2016-11-15 20:40] #32 closed

[2016-11-25 21:58] moab360 opened #38 "Using interop functionality"
I might be missing something obvious, but how would I use this library to call the following method https://software.ecmwf.int/wiki/display/GRIB/grib_get.  Any help would be appreciated.

[2016-11-26 16:57] 0x1mason commented on #38
Simple case
[code]
produces the same output as
[code]
If you need help with a specific case, pls lmk. If you haven't already, give the [README](https://github.com/0x1mason/GribApi.NET/blob/master/README.md) a look. If you have any suggestions for helpful examples, pass them along.

[2016-11-26 17:47] 0x1mason commented on #38
You may already know this, but grib_get is available via chocolately: https://chocolatey.org/packages/grib-tools

[2016-11-26 20:45] 0x1mason commented on #38
Are you still working with polar stereographic data?

[2016-11-26 21:02] moab360 commented on #38
Thanks for the info here.  Yes I'm still working with Polar stereographic data.  I ended up using wgrib2 from NOAA to help parse up the data and get something functional (I'm converting astronomy data from the Canadian Meteorological Service into image tiles which then go on google maps).  What I have works, but I'd like to increase the resolution of the output and the performance, so I'm back at

[2016-11-27 16:32] 0x1mason commented on #27
@moab360 I failed to push the fix for this. Will do asap.

[2016-11-28 02:50] 0x1mason commented on #38
I'll try to get the fix up tomorrow. The grib_api team fixed the polar stereographic bug, but it's not part of my current release. I reopened #27

[2017-01-03 19:17] 0x1mason commented on #38
@moab360 Hi Daniel, sorry for the delay. Can you confirm these are the values you're expecting?

[2017-01-03 19:20] 0x1mason commented on #38
This is only the first 25% or so.

[vals.txt](https://github.com/0x1mason/GribApi.NET/files/683041/vals.txt)

[2017-01-03 21:51] moab360 commented on #38
Cool, I'll integrate this week and compare the results. Thanks again for working on this!

Sent from my mobile

On Jan 3, 2017, at 11:21 AM, Eric Millin <notifications@github.com<mailto:notifications@github.com>> wrote:

This is only the first 25% or so.

vals.txt<https://github.com/0x1mason/GribApi.NET/files/683041/vals.txt>

-
You are receiving this because you were mentioned.
Reply to this emai

[2017-01-03 22:07] 0x1mason commented on #38
Ok, the fix isn't in yet. I'll let you know as soon as it's up.

On Tue, Jan 3, 2017 at 4:51 PM, Daniel Fiordalis <notifications@github.com>
wrote:

[2017-01-06 02:43] 0x1mason commented on #38
Ok, here's the pre-release. Lmk if it works for you.  https://www.nuget.org/packages/Grib.Api/1.0.0-beta

[2017-01-15 21:13] jeroendenhertog opened #39 "Support for partial downloads from NOAA Gfs"
Hi,

when downloading from NOAA GFS, it is possible to download only sections of GRIB files. See:
http://www.cpc.ncep.noaa.gov/products/wesley/fast_downloading_grib.html

Basically, you read the index to find the offset to download from the number of bytes to download.

Currently, GribApi.Net will only read entire GRIB files. It is quite simple to add this functionality however, which would improv

[2017-01-17 22:32] 0x1mason commented on #39
Sounds great. I'm prepping the 1.0 release and will get this in there.

[2017-01-18 00:18] 0x1mason commented on #39
Can you post a file containing a partial download?

[2017-01-25 14:23] xavierpena opened #40 "DateTime crashes for grib files with constant values (no time dimension)"
## The file that fails

Link to the file:

https://donneespubliques.meteofrance.fr/donnees_libres/Static/ARPEGE_0.1_CONSTANT.grib

The link is a grib1 file from MeteoFrance, containing "constant fields (relief and mask earth-sea)". It can be found in their [download page](https://donneespubliques.meteofrance.fr/?fond=produit&id_produit=130&id_rubrique=51), at the bottom of the page.

It contains t

[2017-01-25 15:16] xavierpena commented on #40
The change as proposed (see code below).

Another possibility would be to configure the GribMessage with a flag of `constantValue = true` which would directly return `default(DateTime)`.

	/// <summary>
	/// Gets or set the *reference* time of the data - date and time of start of averaging or accumulation period. Time is UTC.
	/// </summary>
	/// <value>
	/// The reference time.
	/// </value>
	pub

[2017-01-31 03:46] 0x1mason commented on #40
Thanks for the debug info. I will take a look at it.

[2017-01-31 03:52] 0x1mason commented on #40
Regarding debugging, I'm getting ready to release v1.0.0. The entire project structure has changed and the native and managed code are in different packages. I'm hoping this will make it easier to work with.

[2017-01-31 03:52] 0x1mason commented on #27
Assuming this is resolved.

[2017-01-31 03:52] #27 closed

[2017-01-31 03:53] 0x1mason commented on #38
Assuming this is resolved. Lmk if it's still an issue.

[2017-01-31 03:53] #38 closed

[2017-01-31 03:54] 0x1mason commented on #31
This is satisfied by v1.0.0.

[2017-01-31 03:54] #31 closed

[2017-02-14 15:08] ericbmartin opened #41 "Issues Deploying Application Built with GribApi.NET"
Hello,
   I have been successful at building and running an application that uses GribApi.NET from my workstation with Visual Studio 2015 and using nugget for the GribApi.NET package, however, I am having issues deploying that application to a server machine.

I have set the GRIB_API_ENVIRONMENT variable to C:\Apps and the file "C:\Apps\Grib.Api\lib\win\x64\Grib.Api.Native.dll" does exist at that

[2017-02-18 01:08] 0x1mason commented on #41
Ideally the Grib.Api.dll and the Grib.Api directory are in the same folder as your assemblies.

Is the Grib.Api directory in C:/Apps? That's where it's looking.

[2017-02-18 01:24] 0x1mason commented on #41
0.7 is built against VC13 Redistrib. Can you make sure that's installed? Or try v1.0.0-beta, which is built against VC15. You use the modules view in VS to see what binaries are getting loaded locally and then compare that to your sever. Does the C:/Apps setup work on your dev machine?

[2017-02-18 01:27] 0x1mason commented on #41
You can also use ProcMon to see what modules it's trying and to load and which ones fail.

[2017-02-20 14:32] ericbmartin commented on #41
Thanks Eric, I was having some trouble initially getting the GribAPI.dll to load in my development environment, so I set the location VIA code (Environment.SetEnvironmentVariable("GRIB_API_DIR_ROOT", @"C:\Apps");) and that worked, but the same setup was not working on the server.  The ProcMon suggestion was helpful - It showed that the system could not find the "C:\Windows\System32\msvcr120.dll" f

[2017-02-20 14:54] ericbmartin opened #42 "Unexpected Lat/Lon Data from NOAA Files"
I am using GribAPI.NET to access NOAA file data, for example:

[ftp://tgftp.nws.noaa.gov/SL.us008001/ST.opnl/DF.gr2/DC.ndgd/GT.rtma/AR.conus/RT.00/ds.temp.bin](url)

When I pull out Lat and Lon from this file using the code below, I do not get any negative Lon values, but I should based on these files being of the continental US.  Is there some conversion setting or code change I need to make to g

[2017-02-21 13:16] jblestang opened #43 "Giving access to grid data using the grib_fin_nearest_XXXX API"
What would be the recommended way to access single data point value in Grib.API ?  I've not been able to locate a function that would end calling a **grib_find_nearest_XXXX** function call, instead I've to get all the values in memory in the application before getting access to a single element which is not memory nor time efficient when processing large grib data files.

[2017-02-21 13:17] jblestang opened #44 "Migrating to ecCodes"
Do you plan on migrating to [ecCodes](https://software.ecmwf.int/wiki/display/ECC) which is an evolution of grib_api ?

[2017-02-22 00:44] 0x1mason commented on #41
Glad ProcMon helped. It's a powerful debugging tool.

Is everything working for you now?

[2017-02-22 00:47] 0x1mason commented on #42
Are the numbers correct if you subtract 180?

[2017-02-22 00:55] 0x1mason commented on #42
In the GRIB 2 specification, all Lon values are between 0 and 360.

[2017-02-22 00:58] 0x1mason commented on #42
Closing. If you feel like this doesn't solve your issue, please lmk.

[2017-02-22 00:58] #42 closed

[2017-02-22 01:03] 0x1mason commented on #44
I do not at this point. I don't use the project, do very little Windows development, and have little bandwidth atm.

If someone else were to get involved then I would be happy to do it. I have made it much simple to upgrade and work overall in the v1.0.0 branch, so perhaps that will encourage folks to get involved. (Tho I need to publish the new version)

[2017-02-22 01:18] 0x1mason commented on #43
I have not provided a wrapper for that functionality, but it is exposed in https://github.com/0x1mason/GribApi.NET/blob/master/src/GribApi.NET/Grib.Api/Interop/SWIG/GribApiProxyPINVOKE.cs

Search for "GribNearest".

If you're comfortable with pinvoke, you should be able to get it working. Here's some example C code you could use to guide you. https://software.ecmwf.int/wiki/plugins/servlet/mobile?

[2017-02-22 01:35] 0x1mason commented on #44
Looks like there's been a big jump in usage since November, so maybe I'll get some more regular contributors.

[2017-02-22 11:35] ericbmartin commented on #41
Yes, I am able to read the GRIB files now, the key was getting the right VC distribution.

Thanks!

[2017-02-22 11:35] #41 closed

[2017-03-02 20:40] jblestang commented on #43
OK, thanks I'll look into this way and let you know how this is going

[2017-03-06 13:11] jblestang commented on #43
Ok, It's working as expected !

[2017-03-08 15:55] valeravorobjev opened #45 "How to change any GeoSpatialValues and append message to another file?"

[2017-03-09 10:14] 0x1mason commented on #43
That's great! Can you share your code?

[2017-03-10 01:23] 0x1mason commented on #45
There are examples of adding messages to a file in the [README](https://github.com/0x1mason/GribApi.NET/blob/master/README.md).

To edit the data, you'll want to use `msg.Values` to get the raw data and `msg.SetValues`. it's not very performant, so if you're doing this often, I'll see if there's a faster way.

Also, if you want to create new messages, IIRC you can read a file from the `GribApi/sam

[2017-03-10 08:07] jblestang commented on #43
This is the code I used
[code]

It works well for data that are not compressed, but I do have large JPEG compressed data and it seems each time it is decompressing the data to get the nearest value :/

[2017-03-11 00:54] #44 closed

[2017-03-18 16:38] 0x1mason commented on #45
Please

[2017-03-18 16:38] #45 closed

[2017-03-28 08:01] valeravorobjev opened #46 "How to crop a box and save it to another grib file"
Hi! I need crop a box and save it to another grib file...

I execute method **msg.Box(new GeoCoordinate(59.981188, -120.177277), new GeoCoordinate(49.387815, -110.157746));** and get exception **"new GeoCoordinate(74, 40)"**

[2017-04-06 18:59] IdahoSixString opened #47 "Degribbing Incorrectly"
Here http://www.atmo.arizona.edu/products/models/forecasts/id/

These folks have large amounts of grib2 files. If you run their files through your code you will notice that you are missing a lot of data. Specifically I noticed the V components of wind. Therefore, you cannot properly get the appropriate vector for the wind. In addition, due to this reading incorrectly you will begin to notice that

[2017-04-06 19:41] 0x1mason commented on #47
It's degribbing correctly. The likely problem is the GRIB files contain multi-messages, which is generally discouraged. You can handle multi-messages as described here: https://github.com/0x1mason/GribApi.NET/issues/29

If that resolves your problem, please lmk and update Stack Overflow accordingly.

Lmk if you need further assistance.

[2017-04-06 19:53] IdahoSixString commented on #47
You are absolutely correct. This has solved the issue.

Thank you for your prompt support.

[2017-04-06 19:55] #47 closed

[2017-04-06 19:59] IdahoSixString commented on #47
Would this be something that could be determined by the library automatically as to not need to manually change the setting?

[2017-04-06 20:22] 0x1mason commented on #47
Glad that worked.

That's a great question. I'll do some research. Can you open an enhancement request?

[2017-04-07 16:14] IdahoSixString opened #48 "private static bool FileIsValid. Please make this Public"
Hello,

Can the private static bool FileIsValid become a public static method? This would be helpful to determine if our grib files are valid at a very basic level.

[2017-04-07 16:17] IdahoSixString opened #49 "EnableMultipleFieldMessages Detection"
As previously noted in #29 and #47 it seems to be a common issue to have to enable EnableMultipleFieldMessages. Maybe the when running the a similar method to FileIsValid we could detect if EnableMultipleFieldMessages needs to be set to true or not. Thoughts?

[2017-04-07 16:18] IdahoSixString commented on #47
Doesn't look like I can add labels but I opened up two new tickets.

[2017-04-07 16:35] IdahoSixString opened #50 "CallbackOnCollectedDelegate Bug"
Managed Debugging Assistant 'CallbackOnCollectedDelegate'  occurred
  HResult=0x00000000
  Message=**Managed Debugging Assistant 'CallbackOnCollectedDelegate' :** 'A callback was made on a garbage collected delegate of type 'Grib.Api!Grib.Api.Interop.Util.GribApiNative+GribLogProc::Invoke'. This may cause application crashes, corruption and data loss. When passing delegates to unmanaged code, they

[2017-04-08 04:54] 0x1mason commented on #50
Trying to recreate this library in pure managed code would be a totally massive and totally pointless undertaking. Afaik, grib_api is the most comprehensive and powerful set of GRIB-related tools in any language. Why not utilize that? Plus, I don't use the library anymore and only one other person has ever submitted a proper PR.

Furthermore, afaik, it's quite stable tho I can only go by the repor

[2017-04-08 05:25] IdahoSixString commented on #50
Accidentally closed.

However, the problem still exists in the beta as well.

[2017-04-11 09:27] eriove opened #51 "Publish pre-release of Grib.Api.Native?"
Thanks for a great library. Looking forward to version 1.0.

I'm investigating a bug, most likely something that only applies to our internal files. Would it be possible for you to publish a prerelease version of "Grib.Api.Native"? That way I can the latest source myself.

[2017-04-11 09:52] eriove commented on #51
I got the tests running by copying files from the latest Grib.Api package before Grib.Api.native was introduced. It would still be useful to have prerelease versions though.

[2017-04-11 14:18] IdahoSixString commented on #50
You had mentioned you were using grib_api. I saw this post just thought I would share.

https://software.ecmwf.int/wiki/display/GRIB/Home

The ECMWF GRIB-API is an application program interface accessible from C, FORTRAN and Python programs developed for encoding and decoding WMO FM-92 GRIB edition 1 and edition 2 messages. A useful set of command line tools is also provided to give quick access t

[2017-04-11 14:38] IdahoSixString commented on #50
Not sure if anyone needs this is not but as noted in my previous post you just need to copy your data out of the GribFile object prior to moving on. I just mocked up a quick dirty copy of the data I needed to get past this bug.

Depending on how big your grib files are you may or may not run into the 2gb limit on your list sizes. If you are running a 64 bit system in your App.Config you can add.

[2017-04-26 05:19] moab360 opened #52 "GribApi in Azure functions"
Hi there,
I'm finally getting around to moving my workflows (currently using wgrib2.exe) over to GribApi.  The 1.0 beta is doing a great job chewing through the Canadian Meteorological Center's grib files.

I'm also migrating my workflows into Azure Functions to reduce the load on my server when publishing new forecasts.  And that's where I'm running into problems.

I'm setting the Environment var

[2017-05-02 11:44] guilhermecgs opened #53 "Is there any method for interpolating data?"
I need to get wind and temperature from altitudes ranging from 1000 ft to 42000 ft

I know the grib2 (GFS) only have data for specific "isobaricInhPa" pressure, that does not correspond exactly to the altitude I want.

Is there any method in this library (or do you recommend another library) that does the interpolation?

[2017-05-02 17:02] IdahoSixString opened #54 "Not Thread Safe"
Unfortunately, due to my previous post of the callback delegate bug. This also invalidates the claim that this library is thread safe.

Actually has some fun results when degribing files across multiple threads IE different parameters showing up in different files..

[2017-05-02 17:37] guilhermecgs opened #55 "Cherry-picking values for a specific lat/long"
If a have a temperature message at altitude = 1000ft, how can I get the temperature value at a given lat/lon without having to iterate the whole grid?

[2017-05-02 18:26] IdahoSixString commented on #55
I have yet to find a way to get specific geo spatial data without enumerating the enumerable of geo spatial data. However, what you can do it enumerate the geoSpatialData then break out of the enumeration when you have found the item you are looking for. This is similar to almost any LINQ extension IE FirstOrDefault or First.

Also I noticed in my grib file that the longitude was presented in 0 to

[2017-05-02 19:14] guilhermecgs commented on #55
what about this?

`

namespace weather_decoding_extracting
{
    public class ExtendedGribMessage
    {
        private readonly GribMessage baseGribMessage;
        private Double firstLatitude { get; set; }
        private Double lastLatitude { get; set; }

        private Double firstLongitude { get; set; }
        private Double lastLongitude { get; set; }

        private Double gridSpacing {

[2017-05-03 20:21] guilhermecgs opened #56 "Edit temperature values"
Hi Folks,

I´m trying to edit the temperature values of a GFS grib2 file, but with no success....
Code runs ok, but I cannot the the changes in a external software (for example, [panoply ](https://www.giss.nasa.gov/tools/panoply/))

Any ideas?

`

	using (GribFile readFile = new GribFile(filepath))
	{
		var msg = readFile.Where(m => m.Name.Contains("Temperature") && m.TypeOfLevel.Contains("isobari

[2017-05-08 11:37] ericbmartin commented on #42
Thanks for the insight, I used the code below and that seems to be working out:

decimal lon = Math.Round(180M - geoLocValue.Longitude.ToDecimal(), 1, MidpointRounding.AwayFromZero);

[2017-05-08 17:50] ericbmartin opened #57 "Message GeoSpatialValue Retreival"
I am using the NOAA grib for Apparent Temp located here:

ftp://tgftp.nws.noaa.gov/SL.us008001/ST.opnl/DF.gr2/DC.ndfd/AR.conus/VP.001-003/ds.apt.bin

Based on the "Iterating lat/lon/value:" example on the main page, I have this code fragment:

[code]

![image](https://cloud.githubusercontent.com/assets/25772340/25817391/36bb48e0-33f5-11e7-904e-2deee6065395.png)

When I run this code, geoLocValue.V

[2017-05-20 00:01] SandiaDeDia opened #58 "Incompatibility with ArcGis Runtime"
Hi, I think I just came across an incompatibility between Grib.Api (v0.7.1) and  Esri.ArcGISRuntime (v10.2.7.1234).  What I have done is:

1) In a new fresh wpf  project added the Grip.Api and Esri.ArcGISRuntime  Nugget libraries

3) In the XAML added 2 lines to make use of Arcgis:
       <Window  .......  xmlns:esri="http://schemas.esri.com/arcgis/runtime/2013" ........>
        <Grid><esri:Scene

[2017-05-23 13:30] IdahoSixString commented on #58
I'm assuming somewhere you are binding to new GribFile(@"C:\myFolder\myFile.grb2").First();, or at least the geoSpatial values, or something else that is a part of that object in your XAML somewhere? If so, the simplest solution will be to actually copy all the data out of the grib file into your own DTO to avoid this AccessViolationException. This problem occurs because all the IEnumerable's are

[2017-05-31 03:41] SandiaDeDia commented on #58
Hi, sorry for my late reply. Yes, I think this will help us control the error. I will let you know.
Thanks a lot for clear explanation and for the library!!!!!

[2017-05-31 03:41] #58 closed

[2017-05-31 16:12] IdahoSixString commented on #58
Just as a heads up I am not the one who created the library I am just another user such as yourself. :)

[2017-06-01 11:23] magnusjohannesson opened #59 "Use stream instead of filename"
I'm implementing a custom extractor in U-SQL (Azure Data Lake Analytics) to read grib files. In U-SQL you receive a byte stream when reading the data. Are there any plans for supporting streams in addition to a filename when opening a grib file?

[2017-06-01 14:51] IdahoSixString opened #60 "Rename Method Clone To Copy"
This really isn't a clone but rather a shallow copy of the data the underlying references are the same.

Here is a good definition of the difference between copy and clone (https://stackoverflow.com/questions/2200409/what-is-the-difference-between-copying-and-cloning)

[2017-06-01 20:24] eriove commented on #59
I'm not the maintainer but have faced the problem too. It seems really hard to pass a managed stream to unmanaged code and since this is a wrapper around an unmanaged component I believe this to be really hard or impossible.

I "just" check if it is a file stream and grab the file name if it is. If it isn't I create a temporary file. Kind of hacky but works in my case.

[2017-06-04 14:16] jnyrup opened #61 "GribApiException is only trown in debug mode"
I have a grib2 file which jasper seems to choke on while decoding based on getting "cannot get marker segment" in the console.
Using GribApi.Net master compiled in release mode throws an uncatchable `AccessViolationException` while when compiled in debug mode a `GribApiException` with "Decoding is invalid" is thrown.

[code]

[2017-06-05 16:02] IdahoSixString commented on #61
See Issue #50 on how to handle this. Essentially you just need to create a DTO and transfer all the data out of the GribFile object. Unfortunately, the original developer implemented IEnumerable which is lazily evaluated. Which then when the memory pointers try to go back to read the unmanaged memory it becomes an AccessViolation. Therefore, copy all the unmanaged data into a DTO and your problem

[2017-06-06 08:51] jnyrup commented on #61
@IdahoSixString Thanks for your comment, but that doesn't seem to be the problem here.
I tried out your suggestion, but it still gives me an `AccessViolationException` when calling `gribMessage.GeoSpatialValues.ToList();` when running a release build of Grib.Api.NET.

I dug a bit deeper and the sinner seems to be `GribApiProxyPINVOKE.GribGetErrorMessage(int jarg1)`. When commenting out the call to

[2017-06-06 19:59] IdahoSixString commented on #61
@jnyrup Interesting a different issue.

[2017-06-07 14:54] jnyrup commented on #61
If somebody gets to dig further into this before me, the problems seems to be related to marshalling of the error message string from unmanaged to managed memory.

https://stackoverflow.com/questions/6300093/why-cant-i-return-a-char-string-from-c-to-c-sharp-in-a-release-build
https://blogs.msdn.microsoft.com/dotnet/2014/06/13/net-native-deep-dive-debugging-into-interop-code/

[2017-06-08 13:07] jnyrup opened #62 "Grib.Api.Native is build against debug libraries"
When running 1.0.0-beta it fails with an `TypeInitializationException`.
procmon says that `Grib.Api.Native.dll` it looking for `MSVCP140D.dll` which as far as I can tell is debug versions of MSVC 2015 redistributables.

[2017-06-12 10:23] ericbmartin commented on #57
Has any one else been able to successfully retrieve data values using a similar mechanism?

[2017-06-12 17:15] IdahoSixString commented on #57
@ericbmartin I have. However, if you are having issues could you upload your specific grib file and when I have some time I can look into it for you.

[2017-06-12 18:20] ericbmartin commented on #57
The file I have from NOAA is a 34MB file, so I cannot upload it here, however, you can retrieve a similar file from the NOAA website directly:

ftp://tgftp.nws.noaa.gov/SL.us008001/ST.opnl/DF.gr2/DC.ndfd/AR.conus/VP.001-003/ds.apt.bin

Look at the geoLocValue.Value as shown in my original post to see if it is the same value for every entry.  If you are able to get variying values, I'd like a code

[2017-06-20 21:24] silv2015 opened #63 "Problem getting Currents value with Hycomm grib 2 file"
Hi! Great Library!

I can process most of my grib 1 and 2 files! This is working great!

But I came under a problem today as I was processing a grib2 file. To be more precise, I am extracting a message from a grib2(Hycomm)  and I am trying to get the Sea Current.

The problem is that the value seems to increase for no reason as the coordinates change in GeoSpatialValues and it even doesn't make an

[2017-06-20 23:27] IdahoSixString commented on #63
Hello @silv2015

Not sure if this is your issue or not. However, I found when working with U and V components I needed to set MultipleFieldMessages = true.

using (var file = new GribFile(ctx.GribFile))
{
    file.Context.EnableMultipleFieldMessages = true;
}

[2017-06-21 03:53] silv2015 commented on #63
@IdahoSixString thanks for the answer but it's not related to my problem. I already set this flag to true and I have both U and V components.

it's just that the data makes no sense as the value are increasing without any reason and is really too big.

[2017-06-21 14:43] 0x1mason commented on #54
Is this true for the 1.0 Beta?

[2017-06-21 14:44] 0x1mason commented on #56
Can you be more specific? Do you mean the changes are not written to the new file?

[2017-06-21 14:44] 0x1mason commented on #62
Ok, thanks

[2017-06-21 15:03] 0x1mason commented on #53
I don't think so, though I don't use the project anymore. @jnyrup or @silv2015 may have a better idea.

[2017-06-21 15:05] 0x1mason commented on #61
@jnyrup Would you be willing to debug this and contribute a PR?

[2017-06-21 15:08] 0x1mason commented on #39
@jeroendenhertog Can you post a file? Thaks

[2017-06-21 15:48] 0x1mason commented on #40
I fixed this as follows:
[code]

[2017-06-21 15:50] 0x1mason commented on #40
look for `v1.0.1-beta` coming up soon

[2017-06-21 15:50] #40 closed

[2017-06-21 16:00] 0x1mason commented on #43
@jblestang Can you tell at which point it's decompressing? Is it in `GribNearestFind`?

[2017-06-21 17:10] jblestang commented on #43
From my memory this was where the decompression was happening and I was not found of their interpolation either. I'm now looking for a way to download the joeg compressed grib file then create an uncompressed version on disk rather than original grib

[2017-06-21 17:31] 0x1mason commented on #43
I added this feature tho I'm not sure about performance.

[2017-06-21 17:32] 0x1mason commented on #48
Done

[2017-06-21 17:32] #48 closed

[2017-06-21 17:33] 0x1mason commented on #49
I'm not sure how to do this. I'm considering making it the default

[2017-06-21 17:37] 0x1mason commented on #50
@IdahoSixString I'm removing the log proc. It was never very helpful anyway.

[2017-06-21 17:40] 0x1mason commented on #52
What I would do is add a ton of logging and look for the file. Does it work without `SetEnvVar`? Also, log the bitness to be sure.

[2017-06-21 17:47] 0x1mason commented on #55
@guilhermecgs @IdahoSixString Could you use GribFindNearest as described here? I'm adding this functionality to the upcoming release: https://github.com/0x1mason/GribApi.NET/issues/43

[2017-06-21 17:51] 0x1mason commented on #43
Do you know if this works with GribMessage handles? Seems like it should.

[2017-06-21 17:52] 0x1mason commented on #59
I'll look into this

[2017-06-21 17:55] 0x1mason commented on #59
Looks like it may be possible: https://pastebin.com/jcjHdnwz
https://msdn.microsoft.com/en-us/library/system.io.pipes.anonymouspipeserverstream.aspx

[2017-06-21 17:58] 0x1mason commented on #60
`Clone` is the name of the `grib_api` function it wraps (well, really `grib_handle_clone`).

[2017-06-21 18:00] jnyrup commented on #53
Hi @guilhermecgs:
Have a look at https://en.wikipedia.org/wiki/International_Standard_Atmosphere.
It describes how altitude is a function of pressure and temperature and how different atmospheric layers has different lapse rates (change in temperature per distance).
http://en.citizendium.org/wiki/Earth's_atmosphere#Pressure_profile_of_the_atmosphere describes two equations to calculate the altitud

[2017-06-21 18:00] 0x1mason commented on #63
This may be a bug in grib_api. I'll check.

[2017-06-21 18:08] eriove commented on #59
Wow, that would be a great addition. No more for unnecessary files on disk

[2017-06-21 18:17] silv2015 commented on #63
Thanks a lot! I also asked my grib provider to check the data, just in case!

[2017-06-21 19:29] jnyrup commented on #61
@0x1mason I did try to do so, but with no immediate luck.
But at some point I will need to do so, to guard us from this uncatchable exceptions.

[2017-06-23 21:21] IdahoSixString commented on #54
Just brief testing it doesn't seem to be an issue on 1.0

If you don't mind me asking what was the change from 0.7... to 1.0?

[2017-06-24 13:51] 0x1mason commented on #54
Lots of small tweaks, one of which was fixing the callback delegate issue.
Also upgraded to grib_api v1.19. I hope to get a last round of changes in
and release 1.0 soon(ish).

On Jun 23, 2017 5:21 PM, "IdahoSixString" <notifications@github.com> wrote:

Just brief testing it doesn't seem to be an issue on 1.0

If you don't mind me asking what was the change from 0.7... to 1.0?

—
You are receiving

[2017-06-24 15:01] IdahoSixString commented on #54
So I take it each grib object gets its own instance of the degrib dll?
________________________________
From: Eric Millin <notifications@github.com>
Sent: Saturday, June 24, 2017 7:51:09 AM
To: 0x1mason/GribApi.NET
Cc: IdahoSixString; Author
Subject: Re: [0x1mason/GribApi.NET] Not Thread Safe (#54)

Lots of small tweaks, one of which was fixing the callback delegate issue.
Also upgraded to grib_ap

[2017-06-26 21:15] IdahoSixString opened #64 "MSVCP140D.dll Missing in 1.0 Version"
Looks like the 1.0 beta version was compiled into the NuGet package as a debug package and not a release package.

Can we get 1.0.1 as a release package?

This will result in an error on a machine that doesn't have Visual Studio installed.

System.TypeInitializationException: The type initializer for 'Grib.Api.GribFile' threw an exception. ---> System.Exception: Can't load DLL #####\Grib.Api\lib\w

[2017-06-28 02:52] 0x1mason commented on #54
@IdahoSixString I'm afraid I don't understand what you mean about the DLL. When your app loads GribApi.NET, it loads the native DLL into memory once. Most of the objects I've created correspond to structs or handles in the original library.

[2017-06-28 05:04] IdahoSixString commented on #54
How are you keeping things thread safe now?
________________________________
From: Eric Millin <notifications@github.com>
Sent: Tuesday, June 27, 2017 8:52:26 PM
To: 0x1mason/GribApi.NET
Cc: IdahoSixString; Mention
Subject: Re: [0x1mason/GribApi.NET] Not Thread Safe (#54)

@IdahoSixString<https://github.com/idahosixstring> I'm afraid I don't understand what you mean about the DLL. When your app lo

[2017-06-28 12:05] jhskailand opened #65 "Running GribApi.NET under Mono"
I have been trying to get the GribApi.NET library to run on Linux under Mono (5.0.1.1).

I try to create a GribFile object with:
GribFile file = new GribFile(pathName)

where pathName points to a valid, existing grib file which I have permissions to access.

This call throws the following exception:
The type initializer for 'Grib.Api.GribFile' threw an exception.

Inner exception:
_putenv_s

I see

[2017-06-28 20:17] 0x1mason commented on #54
When i first started working on this project, grib_api only supported Linux
threads. I added suppport for OpenMP, which is a crossplatform abstraction
layer for parallel processing, because MSCRT supports OpenMP mutexes. They
eventually merged my patch.

All that is to say, threadsafety is mostly maintained at the native level.
That said, neither grib_api nor GribApi.NET are 100% threadsafe, but a

[2017-06-28 21:11] 0x1mason commented on #65
@jhskailand I'd love to support OSX and Linux and I designed things in such a way that adding cross-platform support is possible. In fact, when I started the project, I hoped to do all the native parts via gcc. Unfortunately, it didn't work out and the native binaries that GribApi.NET wraps are Windows-only. You're the first person to ask about Mono/.NET Core, so I didn't think there was any deman

[2017-06-30 03:12] 0x1mason commented on #54
Closing this as resolved by v1.0.0-beta. Please lmk if it's still an issue.

[2017-06-30 03:12] #54 closed

[2017-06-30 03:16] 0x1mason commented on #64
An interim workaround is to include MSVCP140D.dll as part of your app. Try adding it here `\Grib.Api\lib\win\x86\`, on `PATH`, or a well-known location.

[2017-06-30 03:21] 0x1mason commented on #61
@IdahoSixString I believe this is the same issue as #50, since they are both caused by the logging proc.

[2017-06-30 03:23] 0x1mason commented on #50
@IdahoSixString Is the error the same with the beta? IIRC, I disabled the logging proc in that release, so what you're describing shouldn't happen.

[2017-06-30 03:29] 0x1mason commented on #61
@IdahoSixString Can you explain how these problems are related to the IEnumerable implementation? `grib_api` uses the very same pattern of lazy evaluation.

[2017-06-30 03:32] 0x1mason commented on #60
I'm inclined to leave the named unchanged, but I will at leased add more to the Intellisense docs

[2017-06-30 21:42] IdahoSixString commented on #61
@0x1mason jnyrup had already tried my suggestion which it did not successfully solve his issue.

Therefore, I am not sure if this is a problem in relation to IEnumerable as the other issue.

[2017-06-30 21:44] IdahoSixString commented on #60
@0x1mason I believe including more intellisense docs is good.

[2017-06-30 21:49] IdahoSixString commented on #64
@0x1mason While definitely not an ideal solution. It does work. However, I would highly recommend NOT doing this.

You will also need to add:
mfc140d.dll
mfcm140d.dll
msvcp140d.dll
msvcsr140d.dll
vcamp140d.dll
vccorlib140d.dll
vcomp140d.dll

[2017-07-01 01:18] 0x1mason commented on #57
@ericbmartin Did you compare values using a different degribber?

[2017-07-01 17:25] 0x1mason commented on #60
@IdahoSixString On second thought, I agree with your suggestion and have made the change. Thanks for pointing out that this was actually a shallow copy.

[2017-07-01 18:38] 0x1mason commented on #49
@IdahoSixString I figured out how to do this. Do you have a file I can use for tests?

[2017-07-02 15:43] 0x1mason commented on #46
I dropped support for boxes. I will look into adding them back.

[2017-07-03 00:15] 0x1mason commented on #64
They don't make it easy, do they?

On Jun 30, 2017 5:49 PM, "IdahoSixString" <notifications@github.com> wrote:

[2017-07-03 10:43] jnyrup commented on #62
Closing here, as the problem is more clearly described in #64 .

[2017-07-03 10:43] #62 closed

[2017-07-03 11:07] ericbmartin commented on #57
Yes, we currently use the command line degrib tool that NOAA references on their site:

https://www.weather.gov/mdl/degrib_home

Does the code look correct for this application?  It is not clear to me if there is something different with NOAA files vs. other GRIB2 files?

[2017-07-03 13:35] 0x1mason commented on #57
The GRIB specs allow for custom data, so there could be something NOAA
specific. I'll take a look.

On Jul 3, 2017 7:07 AM, "ericbmartin" <notifications@github.com> wrote:

[2017-07-03 16:06] IdahoSixString commented on #64
If it were easy I wouldn't have a job. :)

[2017-07-03 20:06] silv2015 commented on #63
Hi!

Just  quick update to my problem. I received, as a test, the same data but in GRIB1 format and the data looks all good!

Unfortunately, the GRIB1 file is like 1.2GB !!! So for me it's really not an option for me!

But the problem seems to be related to GRIB2 only....

Still investigating...

[2017-07-04 13:38] ericbmartin commented on #57
Thanks, the NOAA command line tool does some manipulation of the data (for example, it converts from Kelvin measurements to Fahrenheit), so maybe there are other custom aspects involved and I am unfortunately not aware of all the details behind that.

[2017-07-06 17:32] E75 opened #67 "KNMI grib file total precipitation value"
I want to ask if anyone knows what the value of TP (total precipitation) in KNMI files?
I see in the GribMessage as KG m-2 **, but is this in millimeter per second or milimeter per hour?

Is there a value calculation / conversion done by GribApi.NET or not?

[2017-07-12 11:05] #67 closed

[2017-07-12 15:33] IdahoSixString commented on #64
@0x1mason As a heads up the VC++ Redist 2013 will cover anyone whom has this issue. Unfortunately VC++ 2015 Redist version will not.

[2017-07-16 05:12] RajeshManam commented on #63
Hi,
is there any way to create GRIB1 file by reading GRIB2 file?

[2017-07-16 08:09] jnyrup commented on #63
@RajeshManam please create a new issue with your question. This makes it easier to manage and avoids spamming subscribers to this issue.
(Sorry for spamming the subscribers to this thread)

[2017-07-16 15:11] RajeshManam opened #68 "is there any way to create GRIB1 file by reading GRIB2 file? or modify GRIB2 projection"
Hi,
is there any way to create GRIB1 file by reading GRIB2 file? i don't want to convert to GEOTIFF/NetCDF as output needs to be GRIB for my application

i am working with GRIB1 and GRIB2 files, facing issue with some of GRIB2  files having invalid angle (Upper Right (     370.996,      63.000) (Invalid angle, 62d59'59.97"N) or incomplete projection - please see gdalinfo output.
But i observe that

[2017-07-16 15:14] RajeshManam commented on #63
Created new issue, thank you for guidance.

[2017-07-17 14:34] 0x1mason commented on #68
There can be data loss with Grib 1 => Grib 2, but you can try `gribMsg["GRIBEditionNumber"] = 1` or `gribMsg["editionNumber"] = 1`.

Also, which version of GribApi.NET are you using? Are the values invalid when using v1.0.0-beta? If this occurs with the latest code, then it may be a bug in the underlying lib, `grib_api`.

[2017-07-17 15:01] 0x1mason commented on #49
@IdahoSixString @jnyrup @silv2015 Can one of you provide or refer a service that can provide a grib file that contains at least 2 messages that do not work correctly without `EnableMultipleFieldMessages` enabled? I need one to test the new auto-detection feature, but I'm having difficulty locating one.

Many thanks for your help and interest in the project.

[2017-07-17 15:11] RajeshManam commented on #68
Hi,
thank you for response. i am using version 0.7.1.0
seems edition number is read only property.
tried to change edition like
//gribMsg["GRIBEditionNumber"].AsInt(1);
 gribMsg["editionNumber"].AsInt(1);
 but not able as it is read only property.

[2017-07-17 20:35] 0x1mason commented on #68
Try the beta and lmk if the data is still wrong.

On Jul 17, 2017 11:56 AM, "RajeshManam" <notifications@github.com> wrote:

[2017-07-19 23:03] IdahoSixString commented on #49
[WRFPRS_NAM_00z_d01.000.zip](https://github.com/0x1mason/GribApi.NET/files/1160711/WRFPRS_NAM_00z_d01.000.zip)

@0x1mason Here you go this file will require that you have EnableMultipleFieldMessages enabled.

[2017-07-20 09:31] ericbmartin commented on #57
Hi, just checking if you've found any insights?

[2017-07-20 11:04] rikkert-jan opened #69 "AccessViolationException when trying to cherry pick messages on ParameterNumber"
Hi there!

I'm trying to read a GRIB file with your api, in order to find the total precipitation forecast.
I can not search on the name of a parameter due to some issues with the format of our GRIB files, so I have to search by ParameterNumber.

When using your example code for cherry picking by parameter name/description nothing goes wrong
[code]

But when trying to change `file.Where(m => m.Nam

[2017-07-21 15:16] IdahoSixString commented on #69
@rikkert-jan Try this.

            using (GribFile file = new GribFile(@"<path to our file>"))
            {
                var vComp = file.Where(m => m.Name.Contains("V-component of wind m s**-1")).First();

                foreach (var val in vComp.GeoSpatialValues)
                {
                    if (val.IsMissing) { continue; }
                    Console.WriteLine("Lat: {0} Lon: {1}

[2017-07-21 16:57] moab360 commented on #52
Okay, after some debugging I think I found the issue.  I'm using 1.0.0-beta, and Grib.Api.Native.dll depends on the following

- Kernel32.dll
- MSVCP140D.dll
- VCOMP140D.Dll
- VCRUNTIME140D.dll
- ucrtbased.dll

Besides Kernel32.dll, the others are not available on the server.  Sadly  I can't add and register dlls either.

I'm noticing that version 0.7.1, Grib.Api.Native.dll relies on

- KERNEL32.d

[2017-07-21 17:08] jnyrup commented on #52
This is a duplicate of #64.
In short the Grib.Api.Native.dll in 1.0.0-beta is build against debug dlls from Microsoft Visual C++ Redistributable 2015.

[2017-07-21 17:19] moab360 commented on #52
Yup that's it. Thanks for the pointer

[2017-07-21 17:19] #52 closed

[2017-07-23 18:57] 0x1mason commented on #69
Can you try the 1.0.0 beta? It resolved a number of these problems.

[2017-07-23 19:01] 0x1mason commented on #49
@IdahoSixString Thanks.

[2017-07-24 10:26] rikkert-jan commented on #69
Thanks for the suggestion! I've tried it out, but unfortunately it does not seem to solve the problem. It still throws the same exception.

[2017-07-24 11:06] jnyrup commented on #69
Does the QuickWatch provide a stack trace or anything else?
In #61 I also had an `AccessViolationException`. This was due to an invalid grib2 that made the jpeg-decoder throw an exception whose error text was apparently not marshalled properly from c++ to c# in release mode. So C# tried to access already unallocated memory and hence the `AccessViolationException`.

Have you tried parsing the grib2

[2017-07-26 11:43] asafHorvitz opened #70 "incorrect parsing for grib file"
Hi

I have a problem with the parsing of the grib file from GFS from the last few days for the Potential Evaporation Rate [W/m^2].

Before that it was working OK.

I have attached the problematic grib i have downloaded from the gfs website.

If you parse it using the wgrib2 you get totally different results (which are correct), than parsing it using the grib.api.net
[RawFileBadETOGrib.zip](https:/

[2017-07-26 19:12] jnyrup commented on #70
Without knowing what the solution is, here's an observation.

When running `wgrib2 RawFileBadETOGrib.octet-stream -grid -v` it reports
`basic_ang=0 sub_angle=-2147483647 units=0.000001`
This is using wgrib2 2.0.6c

When parsing grib api 1.0.0-beta
it reports `GribValue.IsMissing == true` on the key `subdivisionsOfBasicAngle`

Without knowing anything about the sub angle, it seems wrib2 can handle

[2017-07-27 14:20] silv2015 commented on #49
Sorry but All the files I have are at least 50mb, I can ask my service provider for a smaller file if you still need it?

[2017-07-31 00:20] 0x1mason commented on #49
@IdahoSixString @silv2015 I ended up just enabling it by default. The grib_api docs caution against it, but several of the other wrapper libs I've seen do it and having it disabled has been a major source of confusion.

The context object is static, so trying to dis/enable dynamically could cause surprising behavior when dealing with the multiple files at the same time. Not worth.

As always, I ap

[2017-07-31 00:28] 0x1mason commented on #64
Should be resolved by the new 1.0.0-beta2 I pushed up.

[2017-07-31 00:28] #64 closed

[2017-07-31 00:36] 0x1mason commented on #43
This is in the latest beta

[2017-07-31 00:36] #43 closed

[2017-07-31 00:37] #49 closed

[2017-07-31 00:37] 0x1mason commented on #50
This should be resolved in the latest beta 1.0.0-beta2

[2017-07-31 00:37] #50 closed

[2017-07-31 00:38] 0x1mason commented on #51
Done

[2017-07-31 00:38] #51 closed

[2017-07-31 00:38] 0x1mason commented on #51
https://www.nuget.org/packages/Grib.Api.Native/

[2017-07-31 00:40] 0x1mason commented on #55
@guilhermecgs You can use the new `GribMessage::FindNearestCoordinates` method in 1.0.0-beta2.

[2017-07-31 00:40] #55 closed

[2017-07-31 00:40] #60 closed

[2017-07-31 00:41] 0x1mason commented on #61
This should be resolved in 1.0.0-beta2

[2017-07-31 00:41] #61 closed

[2017-07-31 00:44] 0x1mason commented on #69
I've released 1.0.0-beta2. I'm hoping these issues are resolved there. Lmk if you find otherwise.

[2017-07-31 00:45] 0x1mason commented on #53
Closing due to inactivity. Post again if you have any questions

[2017-07-31 00:45] #53 closed

[2017-07-31 00:47] 0x1mason commented on #59
I played with this a bit and it's going to take a lot of work. Not sure when this will happen. Would welcome a PR tho :)

[2017-07-31 00:48] 0x1mason commented on #63
@silv2015 Is this still an issue for you?

[2017-07-31 00:50] 0x1mason commented on #70
@asafHorvitz Can you give an example of a value you get vs what you expect? I'm happy to take a look, but I need specifics if I'm to debug it. Thanks

[2017-07-31 00:58] 0x1mason commented on #70
Also, please try the latest beta.

[2017-07-31 01:10] 0x1mason commented on #57
@ericbmartin I definitely don't get the same values when using the latest beta. I can't tell you if it's correct or not, but it it varies.

[2017-07-31 01:35] 0x1mason commented on #57
It looks like there may be more support for this in the newest versions of grib_api (now called eccodes). I'm going to see if I can make the switch soon.

[2017-07-31 21:23] IdahoSixString commented on #49
@0x1mason Can you please upload your new beta package to NuGet? I only see the 1.0 beta on NuGet.

[2017-08-01 02:33] 0x1mason commented on #49
@IdahoSixString Check now

[2017-08-01 02:41] 0x1mason commented on #50
@IdahoSixString Should also note that your repro case does not error for me using the new release.

[2017-08-01 06:29] jnyrup commented on #49
@0x1mason beta is still listed as the neweset pre-release: https://www.nuget.org/packages/Grib.Api/

[2017-08-01 06:46] IdahoSixString commented on #49
Still only see 1.0.0-beta.
________________________________
From: Jonas Nyrup <notifications@github.com>
Sent: Tuesday, August 1, 2017 12:29:46 AM
To: 0x1mason/GribApi.NET
Cc: IdahoSixString; Mention
Subject: Re: [0x1mason/GribApi.NET] EnableMultipleFieldMessages Detection (#49)

@0x1mason<https://github.com/0x1mason> beta is still listed as the neweset pre-release: https://www.nuget.org/packages/

[2017-08-01 13:03] rikkert-jan commented on #69
Thanks for your answer! I've tried to implement the 1.0.0-beta2, but I can't get it to work... when I run it, an exception is thrown with an innerexception saying I need to define a correct path to the Grib.API. I've tried shadowcopying, but then I get an exception that it can't find boot.def... I haven't got this issue with previous versions. Any thoughts on how I can get it to work?

Thanks in a

[2017-08-01 23:49] 0x1mason commented on #69
@rikkert-jan Try the following before doing anything else:
[code]

[2017-08-02 00:35] 0x1mason commented on #49
@IdahoSixString @jnyrup It's definitely there now.

[2017-08-02 02:38] IdahoSixString commented on #49
I see it there now. What happened previously?
________________________________
From: Eric Millin <notifications@github.com>
Sent: Tuesday, August 1, 2017 6:35:47 PM
To: 0x1mason/GribApi.NET
Cc: IdahoSixString; Mention
Subject: Re: [0x1mason/GribApi.NET] EnableMultipleFieldMessages Detection (#49)

@IdahoSixString<https://github.com/idahosixstring> @jnyrup<https://github.com/jnyrup> It's definitely

[2017-08-02 12:47] rikkert-jan commented on #69
Thanks! It works now, however the same problem persists... I get an AccessViolation exception when I quickwatch or search on the ParameterNumber...

[2017-08-02 13:19] ericbmartin commented on #57
Sounds good, any thoughts on when that might be available?

Thanks for looking at this!

[2017-08-03 00:09] 0x1mason commented on #69
@rikkert-jan I can't reproduce the AccessViolation, however I did get a GribApiException because that key was not found. I can fix that. In the meantime, use `msg["paramId"].AsInt()` or `.AsString()`. It can be really helpful to dump all the keys for your message to confirm what's there. That way you can get unblocked when you hit one of my mistakes ;).

Regarding the AccessViolation. Try complete

[2017-08-04 00:03] 0x1mason commented on #57
@ericbmartin I did a poc with eccodes, which replaces grib_api. I dumped some values from one of the messages. Are these closer to what you expect?
[vals.txt](https://github.com/0x1mason/GribApi.NET/files/1198886/vals.txt)
However, also verify that the new beta doesn't do what you expect.

[2017-08-05 21:30] 0x1mason commented on #69
Fixed

[2017-08-05 21:43] 0x1mason commented on #57
Seeing the same thing in a different version. Opened a ticket with ECMWF https://software.ecmwf.int/issues/projects/SUP/issues/SUP-2134?filter=allopenissues

[2017-08-06 16:39] 0x1mason opened #72 "[Comment if interested] BUFR support"
Anyone interested? This is already in ecCodes and exposed via SWIG, I'd just need to add better wrapping.

[2017-08-06 16:40] 0x1mason opened #73 "[Comment if interested] .NETCore and Mono Support"

[2017-08-06 16:47] 0x1mason opened #74 "[Comment if interested] Grib Indexes"
Makes searching much faster

[2017-08-06 16:48] 0x1mason opened #75 "[Comment if interested] Grib Boxes"

[2017-08-06 16:48] 0x1mason commented on #65
Opened a new issue to gauge interest https://github.com/0x1mason/GribApi.NET/issues/73

[2017-08-06 16:49] #65 closed

[2017-08-06 16:53] 0x1mason commented on #59
Ok, I think there's an easier way to do this. You can create messages by passing bytes. So rather than messing with streams directly, you'd just pass the underlying buffer. Easy peasy (I hope)

[2017-08-06 17:48] eriove commented on #73
We would appreciate .NETCore support but it is really on the "nice to have" list and not anything that would really change our usage.

[2017-08-06 17:50] eriove commented on #74
This is also a "nice to have" for us

[2017-08-06 18:48] jnyrup commented on #72
I'm interested, as we currently use GribApi.NET for grib files, and some java program for BUFR files.

[2017-08-07 12:30] ericbmartin commented on #57
Thanks, the values for the NOAA apt (apparent temperature) file should be around the range of from 250 kelvin (-10 F) to  310 Kelvin (100 F).  The other weather GRIBs from NOAA will have knots, etc, but if the apt file comes out correct, I think the others will follow.

[2017-08-07 16:38] IdahoSixString commented on #72
Sounds good to me.

[2017-08-07 16:39] IdahoSixString commented on #74
Grib indexes IE dictionary<Key, value>? if so, yes, else no.

[2017-08-07 16:40] IdahoSixString commented on #73
This is a nice to have not a necessity in my mind.

[2017-08-07 17:11] silv2015 commented on #72
Interested!

[2017-08-08 08:34] jnyrup opened #76 "using beta3 increases build time"
When building a C# project that reference GribApi.NET-beta3, building the project now takes a long time. After 10 minutes I stopped compilation.

Loading up procmon reveals that it struggles copying files from Grib.Api:

This pattern continues to repeat for different files.
[code]

I noticed that d46400e536224f5fdbb355d661788df2a1d4dbe7 changed `Grib.Api.Targets`
from beta2:
`<Target Name="AfterBu

[2017-08-08 23:28] 0x1mason commented on #76
Yes, I'm going to revert that. It's painfully slow. Sorry :(

[2017-08-08 23:29] 0x1mason commented on #76
That plus the file count has doubled.

[2017-08-09 03:14] 0x1mason commented on #76
You probably know this, but you  can edit that file yourself. Pop the pkg open with 7zip if you need to.

[2017-08-09 04:18] jnyrup commented on #76
Yeah, flipping skipunchangesfiles helped a lot.

[2017-08-10 11:22] masoodnaqvi1966 commented on #70
[20170727_110249_.grb.zip](https://github.com/0x1mason/GribApi.NET/files/1214675/20170727_110249_.grb.zip)

I tried this tool trying to parse a Grib file but facing a weird problem, some latitudes are giving values of -3000 and so on. Can you please help me. I am attaching a grib file for your reference.

[2017-08-10 11:43] masoodnaqvi1966 commented on #70
Just to add, the zip file I uploaded is for Gujarat, India whereas I was trying with grib file for India. I was not able to upload it because of the file size

[2017-08-10 12:51] asafHorvitz commented on #70
Hi

If you have problem with the package I suggest using wgrib2

*From:* masoodnaqvi1966 [mailto:notifications@github.com]
*Sent:* Thursday, August 10, 2017 2:23 PM
*To:* 0x1mason/GribApi.NET <GribApi.NET@noreply.github.com>
*Cc:* asafHorvitz <asaf@taranis.ag>; Mention <mention@noreply.github.com>
*Subject:* Re: [0x1mason/GribApi.NET] incorrect parsing for grib file (#70)

20170727_110249_.grb.zip

[2017-08-10 15:04] mccp-snyk commented on #70
@asafHorvitz Can you help me understand your problem? It would be great so I can improve the product and you can help other users as well.

[2017-08-10 15:07] 0x1mason commented on #70
@asafHorvitz Can you help me understand the problem? That would help improve the library and help other users as well. Also, there is an upcoming release that fixes many issues, so I can test and make sure your issues are resolved as well.

[2017-08-10 16:10] masoodnaqvi1966 commented on #70
​
 20170810_110147_.ZIP
<https://drive.google.com/file/d/0B5qMKn9NccVud0R0TmZaZS1YRnc/view?usp=drive_web>
​​
 precipitation.json
<https://drive.google.com/file/d/0B5qMKn9NccVuaXFESTNWclY0Y28/view?usp=drive_web>
​Thanks for your reply. I am sending you actual grib file and the extracted
data saved in JSON. Grib file was downloaded using zygrib for India and
Json was created for precipitation foreca

[2017-08-11 12:14] silv2015 commented on #63
Sorry for the delay! Actually, I switch from Hycomm to MyOcean which gives me the same data that I need and the format I received from MyOcean is GRIB1.

So the problem is still there but it's no longer affecting me as I'm using another source.

Thanks a lot

[2017-08-11 15:14] masoodnaqvi1966 commented on #70
just to add ... sent grib file is Grib1. Do you have any assemblies to
convert grib1 file into GeoJason?

On Thu, Aug 10, 2017 at 9:39 PM, S Husain Akhter Naqvi <
masoodnaqvi1966@gmail.com> wrote:

--
*Syed Husain Akhter Naqvi (Masood)*
+91 9971960735
38, 1st Floor, Brij Puri Extension 2
Street No. 10, Parwana Road,
Delhi-110051 (India)

[2017-08-12 02:17] 0x1mason commented on #57
@ericbmartin Ok, I think it's fixed. Have a look at these values which are a small sample from one of the messages.
[ds_vals.txt](https://github.com/0x1mason/GribApi.NET/files/1219400/ds_vals.txt)

[2017-08-12 22:28] 0x1mason commented on #59
I've got mostly bad news on this. I've got a working implementation, but iterating multiple messages is about 6x slower than files. This will take some more work.

[2017-08-13 07:36] asafHorvitz commented on #70
Hi Eric,

The problem with the grib I sent you is that the values that the grib.api
produce are incorrect.

I checked it by comparing the result of the the grib.api values vs
wgrib2.exe

Just run

wgrib2.exe -d 1 gribfilename -csv res.csv

and you will get the result of each value.

Compare it to the output of the grib.api and you will see that each value
has a different value than the wgrib.exe o

[2017-08-13 07:40] asafHorvitz commented on #70
I am creating a bin / csv file using the wgrib2.exe

Download it and use it in case the grib.api is not working…

*From:* masoodnaqvi1966 [mailto:notifications@github.com]
*Sent:* Friday, August 11, 2017 6:15 PM
*To:* 0x1mason/GribApi.NET <GribApi.NET@noreply.github.com>
*Cc:* asafHorvitz <asaf@taranis.ag>; Mention <mention@noreply.github.com>
*Subject:* Re: [0x1mason/GribApi.NET] incorrect parsin

[2017-08-13 15:50] 0x1mason commented on #70
@asafHorvitz Thanks for the additional information. As best as I can tell, the wgrib2 dump and the GribApi.NET dump are the same after I updated to the latest version of the underlying library.
[raw_ex.zip](https://github.com/0x1mason/GribApi.NET/files/1220550/raw_ex.zip)

I'm going to try to get more of the strings, such as field names to show up from NOAA files to show up in the lib. But the val

[2017-08-13 15:56] 0x1mason opened #77 "Latitudes are wrong when parsing file"
Orginally posted by @masoodnaqvi1966.
[20170727_110249_.grb.zip](https://github.com/0x1mason/GribApi.NET/files/1220551/20170727_110249_.grb.zip)
​[20170810_110147_.ZIP](https://drive.google.com/file/d/0B5qMKn9NccVud0R0TmZaZS1YRnc/view?usp=drive_web)
[precipitation.json](https://drive.google.com/file/d/0B5qMKn9NccVuaXFESTNWclY0Y28/view?usp=drive_web)

[code]

[code]

[2017-08-13 15:58] 0x1mason commented on #70
@masoodnaqvi1966 I moved your problem into a new issue. Please continue our dialog there.  https://github.com/0x1mason/GribApi.NET/issues/77

[2017-08-13 15:59] 0x1mason commented on #77
@masoodnaqvi1966 ecCodes (formerly grib_api) will output JSON. I can look into adding that as a feature.

[2017-08-13 16:00] 0x1mason opened #78 "[Comment if interested] Grib message to GeoJSON"
Or just JSON

[2017-08-13 17:56] 0x1mason opened #79 "[Comment if interested] Async methods"

[2017-08-14 10:28] ericbmartin commented on #57
Overall the file has the right range of numbers (250 to 310, plus 9999 for undefined).  The Geo coordinates have a longitude through the middle of Texas and the points I verified in Texas are within the average temperature range for July/August of this year (70 to 90 F/294 to 305 K).  So this does look like the range of numbers that would be expected.  Are these changes in GribApi.NET 1.0.0-beta3?

[2017-08-14 15:39] IdahoSixString commented on #78
JSON then GeoJSON.

[2017-08-14 15:40] IdahoSixString commented on #79
Not super important but nice to have when displaying data in a UI and you do not want the display to freeze up.

[2017-08-15 08:20] rikkert-jan commented on #69
Thank you very much! It now shows the parameter numbers. There's still one problem... Some parameternumbers seem a bit off.

I want to know the values of a parameter abreviated as CR, aka Cumulatieve Som Regen, Dutch for Total Precipitation. I've been told by the distributor of the GRIB sets that this wrapper (and if I remember correctly the original GribAPI itself too) is not fully compatible wit

[2017-08-15 10:37] mudesire opened #80 "Pygrib from gribApi.NET choco"
dear,
have you tryied installing pygrib using the gripapi package from choco, or how can you recommend configuring it with respect to pygrib as detailled in http://jswhit.github.io/pygrib/docs/.
Cheers!

[2017-08-15 12:49] 0x1mason commented on #69
@rikkert-Jan I'll take a look at it. I'm optimistic that we can at least find a workaround.

What degribber does your provider recommend?

[2017-08-15 13:58] rikkert-jan commented on #69
That sounds great, thank you for your quick reply and your optimism :D! My provider recommended ecCodes from ECMWF. Unfortunately I can not get it to work on my PC.

[2017-08-15 16:37] 0x1mason commented on #69
Ha! I switched to eccodes for the next release, so we should be good.

On Aug 15, 2017 9:58 AM, "Rik van den Heuvel" <notifications@github.com>
wrote:

[2017-08-16 11:04] eriove commented on #79
But it is even possible? I believe the framework design guidelines tells you that methods should only be async if they actually use the async features. If you only call Task.Run that should be left to the caller instead.

[2017-08-21 07:32] 0x1mason commented on #80
IIUC, pygrib is looking for the grib_api library, not the command line tools. Does pygrib work on windows?

[2017-08-22 09:02] mudesire commented on #80
As you can see on the link below, the only dependency required for pygrib
to work on window is the grib-api. I think having the $GRIBAPI_DIR and
$GRIBAPI_INCDIR/$GRIBAPI_LIBDIR can help compile pygrib.

http://jswhit.github.io/pygrib/docs/
​

[2017-08-22 17:35] 0x1mason commented on #80
Are you comfortable doing native builds? If so, you'll need to use https://github.com/0x1mason/GribApi.XP. It builds grib_api as a static .lib so you'll need to change the project via VS to build a dll. If you manage to get it working, I'm eager to hear about it.

[2017-08-22 23:05] mudesire commented on #80
Thanks,  I will let you know!

2017-08-22 18:36 GMT+01:00 Eric Millin <notifications@github.com>:

--

*PhD Student in Physics and Engineering:*
*Optics-Computer vision and remote sensing. *
*IMC-Laboratory Instrumentation Measurement and ControlUniversity of
Chouaib Doukkali.*

[2017-08-26 23:06] 0x1mason commented on #57
I just uploaded beta 4. It should resolve your original issue. I'm not sure what's going on with the dll. Do you have the same issue with the newest beta? You can work around the issue by adding your DLL location to PATH. That should work even if you do it at runtime in your app.

[2017-08-26 23:07] 0x1mason commented on #69
@rikkert-jan Try the beta 4. It uses eccodes.

[2017-08-26 23:18] 0x1mason commented on #76
Fixed in beta 4

[2017-08-26 23:18] #76 closed

[2017-08-26 23:18] #68 closed

[2017-08-26 23:19] #63 closed

[2017-08-26 23:20] 0x1mason commented on #70
@asafHorvitz beta 4 should work for you. Lmk if it doesn't.

[2017-08-26 23:20] #70 closed

[2017-08-26 23:21] #80 closed

[2017-08-26 23:24] 0x1mason commented on #59
I added a new API so you can create a message from an array of bytes. Not exactly what you're looking for, but as of beta 4 you can call `GribMessage.Create(myBytes, 0, GribContext.Default);`. Please play around with it and lmk if its moving in the right direction.

[2017-08-27 20:06] 0x1mason commented on #39
Implemented

[2017-08-27 20:06] #39 closed

[2017-08-27 23:56] 0x1mason commented on #59
The full release with have `GribStream`. It's still slower than file, but much faster than my previous tests indicated. You can let me know if it's within tolerable limits.

[2017-08-27 23:56] #59 closed

[2017-08-27 23:58] 0x1mason commented on #56
Closing due to inactivity

[2017-08-27 23:58] #56 closed

[2017-08-27 23:58] 0x1mason commented on #46
If you're

[2017-08-27 23:58] #46 closed

[2017-08-28 05:13] DPB61 opened #81 "Error occurred: -4. Function not yet implemented"
I am copying one of the examples I found in the Issues area, using beta 4 and converted to vb.net, but seems properties like GeoSpatialValues have changed to GridCoordinateValues, etc so I think I have fixed them.

However, when I run this, I get an error on the 3rd line:
"Grib.Api.Interop.GribApiException occurred
  HResult=0x80131500
  Message=Error occurred: -4. Function not yet implemented"

[

[2017-08-28 08:36] 0x1mason commented on #81
No, that should work. That's an error from the underlying native library. Can you share the file that's giving you problems?

[2017-08-28 10:06] LeonBatta commented on #69
Hi. Unfortunately my collegue rikkert-jan left our company. I worked with him on this issue, so now I took over the testing of it.
I installed the beta 4, but still most items have parameterNumber 0 and parameterName "unknown". When items do have a parameterNumber, often this number does not match with the ones our weather provider gave us.
The weather provider uses this command to get a list of k

[2017-08-28 11:14] 0x1mason commented on #69
You should be able to do `var indicator = gribMessage["indicatorOfParameter"].AsString ();`

You can do the same for any other you'd provide to grib_ls. Try dumping the keys as in the README to see if you can find what you're looking for. If You find it and think I can improve the documentation, please lmk.

[2017-08-28 11:19] 0x1mason commented on #69
Here's an example dump: https://github.com/0x1mason/GribApi.NET/blob/master/docs/TypicalKeyDump.md. You should also be able to call `message.Dump ()` to get a pretty printed string

[2017-08-28 16:17] 0x1mason commented on #81
What sort of grid are you dealing with?,Perhaps it's not supported.

[2017-08-28 17:55] muteebali opened #82 "Out of range values of latitude and longitude"
@0x1mason  I am trying to develop an application for GIS using **GribApi.NET**. I am facing an issue, _values of latitude and longitude seem out of range_. Now, I am not sure how to scale down these values.
As the range for latitude and longitude values should be -90 to 90 and -180 to 180 respectively, but in my case latitude and longitude values are exceptionally exceeding i.e -1360.000563
Can yo

[2017-08-28 18:34] ericbmartin commented on #57
I pulled down Beta4 using the VS package manager, so it auto-uninstalled previous version and that install did resolve whatever was the issue with the DLL that could not be found.  I was able to build it and run it in my test program, but I had to modify my test program to build as a .NET 4.5.2 program, the .NET project this will be laid into is a .NET 4.0 program, so I don't know how that will wo

[2017-08-28 18:52] 0x1mason commented on #82
Which version are you using? Is it the latest Beta? If the beta doesn't resolve the issue, please share the file.

[2017-08-29 03:34] DPB61 commented on #81
Ah, 2 good questions!
The filename is ds.waveh.bin which isn't much help to anyone so I went back through my notes & couldn't see where the file actually came from.
So I decided to get another one from the NOAA site and did a quick test - the newly download file works!
I believe the file came from here (or another area):
ftp://tgftp.nws.noaa.gov/SL.us008001/ST.expr/DF.gr2/DC.ndfd/AR.alaska/VP.001-

[2017-08-29 03:34] #81 closed

[2017-08-29 04:11] muteebali commented on #82
No, its not a latest version. Its version 0.7.1.0.

[2017-08-29 06:25] muteebali opened #83 "Problem to identify record type"
@0x1mason  How can we identify a single record in a file having different types of data (temperature, wind, humidity etc. ) either it is temperature related data or wind etc ?
Can you please help me out.

[2017-08-29 08:19] muteebali commented on #82
_I have upgraded the dll to latest Beat version (1.0.0.4), but problem is still there._
I am trying to process one of your test file (TIME), i am getting following data in **GridCoordinateValue**, which lies out of range,

**jDirectionIncrement : 33.018
iDirectionIncrement : 0.25
latitudeOfLastGridPoint : 10
longitudeOfLastGridPoint : 20
latitudeOfFirstGridPoint : 20
longitudeOfFirstGridPoint : 10

[2017-08-30 13:02] LeonBatta commented on #69
It works! I can now filter on "indicatorOfParameter" and "level". Great. Thank you for the support.
When will this version be released?

[2017-08-30 14:06] hehuan710 opened #84 "Why GRIB.net only read the first repetition when a message repeat section 3-7 as the figure shown below?"
![1](https://user-images.githubusercontent.com/21091848/29876457-6b25cce8-8dcf-11e7-88fe-4a809fff70ae.png)

[2017-08-30 14:55] jnyrup commented on #84
What version of GribApi.Net are you using?
If it is not 1.0.0-beta4, please give it a try.

If beta4 still cannot read all sections: can you share the problematic file?

[2017-08-30 15:13] hehuan710 commented on #84
Isn't  the latest version  0.7.1?

[2017-08-30 15:24] hehuan710 commented on #84
thank you   I'll try 1.0.0-beta4

[2017-08-30 23:47] hehuan710 commented on #84
beta4 still cannot read all sections
[Z_NWGD_C_BABJ_20170828035059_P_RFFC_SCMOC-SSM_201708280800_07203.zip](https://github.com/0x1mason/GribApi.NET/files/1265359/Z_NWGD_C_BABJ_20170828035059_P_RFFC_SCMOC-SSM_201708280800_07203.zip)

[2017-08-31 12:05] 0x1mason commented on #69
Should be soon--by the end of September if not sooner.

On Aug 30, 2017 9:02 AM, "LeonBatta" <notifications@github.com> wrote:

[2017-08-31 13:24] HGCapacitor commented on #72
Another fan!

[2017-09-01 00:14] 0x1mason commented on #82
When I make the following change using the `time` file,
[code]
I get:
[code]

Does setting Dj programmatically fix the issue for you?

[2017-09-01 00:47] 0x1mason commented on #83
I would recommend starting with a key dump on a sample message to see the metadata exposed by ecCodes. Here's an example result: https://github.com/0x1mason/GribApi.NET/blob/master/docs/TypicalKeyDump.md.

Using the beta, you can do `Console.Writeline(gribMsg.Dump())` or with all versions
[code]

Once you know which key you want to filter on, you can do something like
[code]

[2017-09-01 01:00] 0x1mason commented on #82
Can you tell which files you're using? Are they NCEP grib1?

[2017-09-01 01:24] 0x1mason commented on #84
@hehuan710 Try
[code]

[2017-09-01 01:27] 0x1mason commented on #84
I will disable this by default in the next release

[2017-09-01 01:33] 0x1mason commented on #57
I have started debugging this issue. Will let you know when I have more. One thing you might do in the interim is to dump the keys (`gribMsg.Dump()`) and check that the values for Ni, Nj, Di, etc match those in the NCEP/NOAA definitions. If not, you can set the keys to the correct value (see [here](https://github.com/0x1mason/GribApi.NET/issues/82#issuecomment-326453184)). I have noticed by lookin

[2017-09-01 03:04] 0x1mason commented on #84
^enable by default

[2017-09-01 03:05] 0x1mason commented on #69
Glad it works for you.

[2017-09-01 03:05] #69 closed

[2017-09-01 05:09] hehuan710 commented on #84
@0x1mason
![qq 20170901130909](https://user-images.githubusercontent.com/21091848/29956034-d6320e1e-8f16-11e7-87a9-b963354a60bc.jpg)

[2017-09-02 06:14] hehuan710 commented on #84
@

[2017-09-02 08:14] jnyrup commented on #84
@hehuan710

I could reproduce the `TypeInitializtionException`
Instead of calling `GribContext.Default.EnableMultipleFieldMessages = true;`

Try this:
[code]

@0x1mason I believe I have seen this behavior in the code before, where calling something from `GribEnvironment` or `GribContext` even after `GribEnvironment.Init()` causes a `TypeInitializtionException`.

[2017-09-02 14:33] hehuan710 commented on #84
@jnyrup     As you said, that's all right

[2017-09-02 14:44] 0x1mason commented on #84
Fix will be in next release.

[2017-09-02 14:44] #84 closed

[2017-09-02 15:41] 0x1mason opened #85 "[Help Wanted] Rewrite build scripts in modern scripting language"
Build automation is mostly in _batch_, which, well... sucks. It's also not cross-platform, which is a barrier to supporting .NET Core/Mono. The build scripts should be re-written using one of the following, in rough order of preference:

* [_msbuild_](https://msdn.microsoft.com/en-us/library/0k6kkbsd.aspx)
* _bash_. Will need instructions in README for Windows users on how to add bash to PATH from

[2017-09-02 21:23] 0x1mason commented on #83
Also, if you're concerned about NOAA-related files, the next release will greatly improve the string information for units, etc. I'm adding string info for ~ 1000 message types.

[2017-09-04 20:54] jnyrup commented on #85
I like [Cake](https://cakebuild.net/)

[2017-09-05 09:07] HGCapacitor commented on #85
I did not look into the build system into detail, I agree that batch scripts is a bad idea ;)
Still what is the benefit in altering the build system as long as a NuGet package is produced. I do not think building in batch scripts interferes with targeting .net core (and making the NuGet package platform agnostic).
Moving away from the batch script will allow building the code on different platform

[2017-09-05 10:00] jnyrup commented on #85
@HGCapacitor For me the main point in moving to a dedicated build system is robustness and descriptive error messages, when some dependency is missing or fails to run.

[2017-09-05 21:53] 0x1mason commented on #85
@HGCapacitor Agreed. I don't care that much as long as it is cross-platform, command-line friendly, and scriptable.

[2017-09-07 04:49] muteebali commented on #82
Thanks,  its working now.

[2017-09-07 05:17] muteebali commented on #83
that`s great, should it work for all types of Temperature related data? What about wind/humidity etc.
Can you please specify Parameter Names for each case or some other way to do it prior to know parameter name.
Secondly, is there way to know a file having singular parametric data or multi parametric?

[2017-09-07 18:48] 0x1mason commented on #83
Here is a list of the parameters covered by eccodes:
http://apps.ecmwf.int/codes/grib/param-db

Then there are centre-specific grid definitions that you'll need to check
the centre's documentation for. I'm adding NCEP ones for grids like these
http://www.nssl.noaa.gov/projects/mrms/operational/tables.php, though I
haven't pushed those changes yet. However, no degribber can cover all the
custom gri

[2017-09-14 15:26] ArnimSchinz commented on #74
We would love to have this feature! At the moment we are using the GribApi to convert files, map them on postal codes afterwards and save them to a database. If we could use indexes we maybe will not have to use the database anymore to access the data fast enough. In fact it would be awesome if we could just read them from flat files, because the grib2 format itself is really nice.

[2017-09-16 18:38] SqlUser12 opened #88 "SQL Server CLR containing Grib.Api"
Hi,
I've been attempting to add Grib.Api (tried both latest beta and current production versions) to an SQL CLR. I keep getting this error:

System.DllNotFoundException: Unable to load DLL 'Grib.Api.Native.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
System.DllNotFoundException:
   at Grib.Api.Interop.Util.GribApiNative.CreateFileHandleProxy(String filename)

[2017-09-16 20:16] IdahoSixString commented on #88
For Sql CLR you need to register the dll with Sql server.
________________________________
From: SqlUser12 <notifications@github.com>
Sent: Saturday, September 16, 2017 12:38:33 PM
To: 0x1mason/GribApi.NET
Cc: Subscribed
Subject: [0x1mason/GribApi.NET] SQL Server CLR containing Grib.Api (#88)

Hi,
I've been attempting to add Grib.Api (tried both latest beta and current production versions) to an S

[2017-09-16 20:18] bnasko commented on #88
Thanks for the reply! How would I go about registering it with SQL server? And which DLL exactly should I be registering?

I did add Grib.Api.dll as an assembly in the database.

[2017-09-16 20:21] bnasko commented on #88
I also tried to add Grib.Api.Native.dll but got the following error:
Msg 6544, Level 16, State 1, Line 1
CREATE ASSEMBLY for assembly 'Grib.Api.Native' failed because assembly 'Grib.Api.Native' is malformed or not a pure .NET assembly.
Unverifiable PE Header/native stub.

[2017-09-17 03:36] IdahoSixString commented on #88
Makes sense since it is pinvoke c library.
________________________________
From: SqlUser12 <notifications@github.com>
Sent: Saturday, September 16, 2017 2:21:50 PM
To: 0x1mason/GribApi.NET
Cc: IdahoSixString; Comment
Subject: Re: [0x1mason/GribApi.NET] SQL Server CLR containing Grib.Api (#88)

I also tried to add Grib.Api.Native.dll but got the following error:
Msg 6544, Level 16, State 1, Line 1

[2017-09-17 10:11] hehuan710 opened #89 "Excuse me, can I get a value by latitude and longitude?"
Get a value by latitude and longitude, not all values.

[2017-09-17 23:53] bnasko commented on #88
Is there any workaround to get this to work as CLR?

[2017-09-18 10:20] ArnimSchinz commented on #78
Interested!

[2017-09-18 11:11] muteebali opened #90 "How to get details related to single record other than value?"
Hi @0x1mason ,
Can we get details of Wind Direction ?

[2017-09-18 12:43] 0x1mason commented on #90
Yes. Try `GribContext.EnableMultiFieldMessages = true`

On Sep 18, 2017 7:11 AM, "muteebali" <notifications@github.com> wrote:

Hi @0x1mason <https://github.com/0x1mason> ,
Can we get details of Wind Direction ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/0x1mason/GribApi.NET/issues/90>, or mute the thread
<https://githu

[2017-09-19 14:54] IdahoSixString commented on #88
@SqlUser12 Not that I am aware of. What is it you are trying to exactly accomplish?

[2017-09-19 15:50] bnasko commented on #88
I have a short script that pulls only 1 variable from NOAA's GFS grib. I wanted to read that variable using an SQL server proc, run a filter on lon/lat and insert it into the db.
I am now considering using a console application to inject the data given the CLR limitations.

[2017-09-19 16:02] IdahoSixString commented on #88
@SqlUser12 Using a console application to read the grib files and storing the data in a table would be your best bet and would cause the least headaches.

You can also write an extended stored procedure, which would call your console application (pass in a file name as args). However, these are a deprecated (no longer support, but you can still write them), which can read the file and pass back th

[2017-09-19 16:05] bnasko commented on #88
Thanks for the recommendation Idaho. In that case I will proceed with the console application route. I agree it will most likely be the cleanest solution.
Cheers!

[2017-09-19 16:54] muteebali commented on #90
@0x1mason Can we get all details about all getter and setter properties explicitly because these are not mentioned in documents,

[2017-09-19 23:51] 0x1mason commented on #90
There is the intellisense and the source code atm. I'd welcome a pull
request, if you'd like generate documentation from the intellisense with
lighthouse or https://github.com/dotnet/docfx.

[2017-09-20 05:01] muteebali commented on #90
@0x1mason Can you please generate proper documents, it would be more suitable.

[2017-09-20 10:44] 0x1mason commented on #90
I welcome any pull requests. This is an open source project. If you want a
feature, feel free to contribute it.

On Sep 20, 2017 1:01 AM, "muteebali" <notifications@github.com> wrote:

[2017-09-24 06:28] muteebali opened #91 "Parameter name does not have appropriate value?"
@0x1mason
By reading multi parametric GRIB file, there are some issues given below,

1.  Some records have same  **parameter name** as **parameter Id** in numeric form i.e 156,220 etc why is it so?

2.  **Parameter Name** is a concatenated string of _parameter short name_, _parameter_, and _parameter unit_ i.e. **tcc Temperature K**. I have found the value of the **short name** and **unit** explic

[2017-10-03 10:33] muteebali commented on #91
@0x1mason
Can you please answer the above queries.
I would be grateful.
Thanks

[2017-10-04 16:29] IdahoSixString commented on #91
@muteebali
Can you please provide the grib file you are working with?

[2017-10-06 17:24] muteebali commented on #91
@IdahoSixString  Here is the file, you can look into it.
Thanks

[isaac.zip](https://github.com/0x1mason/GribApi.NET/files/1363429/isaac.zip)

[2017-10-09 16:05] IdahoSixString commented on #91
@0x1mason
There are a fair amount of unknown parameters in this file.
@muteebali
Did you have this set "EnableMultipleFieldMessages = true"?
Looks like there is the U and V components of wind.
What version of the NuGet are you using? I am using beta4.

[2017-10-10 01:23] muteebali commented on #91
@IdahoSixString
Yes i have already enabled that parameter and also i am using beta 4.

@IdahoSixString @0x1mason
- Is API is not able to read these unknown parameter or something else?
- Can we read these unknown parameters ?
- How to identify specific record, weather it is Wind, Temperature etc. i think so there is not a such a
   property in extracted data which indicates it?

Thanks

[2017-10-13 10:59] muteebali commented on #91
@IdahoSixString  @jnyrup  @0x1mason
I am sharing some more files, it would be more easy to trace out the problem. These files have specific parametric values.
I am looking forward to resolve these issues in my project and will be thankful to all of you to help me out.

(https://github.com/0x1mason/GribApi.NET/files/1382340/temperature_max2m.zip)
(https://github.com/0x1mason/GribApi.NET/files/13823

[2017-10-13 14:34] IdahoSixString commented on #91
@muteebali
Where are these grib files originally coming from?

[2017-10-13 20:23] jnyrup commented on #91
[wgrib](http://www.cpc.ncep.noaa.gov/products/wesley/wgrib.html) seems to have no problem decoding `temperature_max2m.grb`.
It recognizes the data as "CIN=Convective inhibition [J/kg]" and "TMAX=Max. temp. [K]".

Here are the dumps for eccodes and wgrib, respectively.
[eccodes_log.txt](https://github.com/0x1mason/GribApi.NET/files/1383893/eccodes_log.txt)
[wgrib_log.txt](https://github.com/0x1maso

[2017-10-15 08:40] muteebali commented on #91
Thanks for your response.

@IdahoSixString
I have downloaded these GRIB files from [Zygrib](http://www.zygrib.org/)

@jnyrup
I have gone through these log files and concluded with the following findings:

1. In [eccodes_log.txt](https://github.com/0x1mason/GribApi.NET/files/1385253/eccodes_log.txt) **parameterName**, **parameterUnits** and **indicatorOfParameter** has the value `156`. What does `1

[2017-10-15 09:42] jnyrup commented on #91
@muteebali
Just for your information, I am just a consumer of GRIB encoded data as you.
I'm a programmer and I like to help people, but I really have no expertise in GRIB.

1. I don't know, to me it just seems that eccodes struggles decoding the file.

2, 3: I don't know. At one point I had a problem with GribApi.Net reading multi message files, where wgrib2 seemed to work fine.
My solution back t

[2017-10-15 11:12] muteebali commented on #91
@jnyrup
Is there any programmatic way to split files in .NET?

@0x1mason
Can you please share your view. @jnyrup exactly I am having a problem to read the multi-message file.

[2017-10-15 16:35] jnyrup commented on #91
@muteebali The problems I had with multi-message was that I only saw the first message and not the subsequent ones. In fact I'm not really sure if there ever was a problem, I'm suspecting that I just didn't tried enabling `EnableMultipleFieldMessages`.

Your problem seems to be that ecCodes cannot decode your grib1 file, at least its parameters.
Have you checked if GribApi.NET reads the actual val

[2017-10-26 09:59] ericbmartin commented on #57
Hi, just checking back if anything new has been discovered?

[2017-11-07 16:32] moab360 opened #93 "Lat/Lon incorrect in polar stereographic grid"
Getting around to doing more testing with GribApi.  The latest version still does not read Lat/Lon correctly from grib files. (comparing to wgrib2)

The bottom left of the grid has the correct lat/lon, but after that it appears they are incorrect
![image](https://user-images.githubusercontent.com/15697848/32504780-807c8130-c395-11e7-88d7-c7bac3d063f9.png)

wgrib2 shows the bottom right
wgrib2.exe

[2017-11-07 16:39] moab360 commented on #93
I should note, this is using GribApi 1.0.0-beta4

[2017-11-07 16:59] jnyrup commented on #93
This may have been resolved in ecCodes 2.5.0
https://software.ecmwf.int/wiki/display/ECC/ecCodes+version+2.5.0+released

GribApi.NET 1.0.0-beta4 uses ecCodes 2.4.1

[2017-11-07 17:05] moab360 commented on #93
Looks like the following bug got fixed in ecCodes 2.5.0
[ECC-529] - grib_get_data for polar stereographic gets wrong lat and long
I don't have permissions to read more about the bug, but potentially this is the fix.

Is it possible for me to patch?

[2017-11-15 07:15] Andreas-Lehmann commented on #65
Would be great to have .NET Core support since this gets more and more common for new projects.

[2017-11-15 07:16] Andreas-Lehmann commented on #73
Would be great to have .NET Core support since this gets more and more common for new projects.

[2017-11-20 17:22] scottcha commented on #52
@moab360 were you ever able to get this working in an azure function?  I'm using the 1.0.0-beta4 and get
`System.DllNotFoundException: 'Unable to load DLL 'Grib.Api.Native.dll': The specified module could not be found. (Exception from HRESULT: 0x8007007E)'`
When attempting to load the native dll.
Its specifically on this line in Grib.Api.Interop.Util.GribApiNative.cs:
`		[DllImport("Grib.Api.Nativ

[2017-11-20 17:50] scottcha commented on #52
Well, turns out copying the Grib.Api.Native.dll to the functions bin folder worked.

[2017-11-20 17:55] jnyrup commented on #52
I've had a similar experience for a project of this structure:
MyConsoleApp --> MyLibrary --> GribApi.Net

The bin folder of MyLibrary contains the Grib.Api dlls.
The dependency on MyLibrary does not causes Grib.Api dlls to be copied to the bin folder of MyConsoleApp.

[2017-11-28 16:46] IdahoSixString commented on #88
@0x1mason We can close this ticket.

[2017-12-12 23:26] IdahoSixString opened #94 "EcCodes Error"
I got an interesting error using the latest beta4 version.

ECCODES ERROR   :  default_malloc: error allocating 1555200 bytes
ecCodes assertion failed: `0' in ..\..\..\src\grib_context.c:231

Anyone have any thoughts?

Even with Try Catch this still results in an uncatchable error. Doesn't seem to be easily reproducible either.

[2017-12-18 09:41] muteebali opened #95 "Signed boundary latitude/longitude values"
@jnyrup @0x1mason
Is there any way to find out the signed(+/-) boundary values of latitude/longitude. As before, i am trying to extract values from key value pair i.e. _startingLatitude_, _startingLongitude_, _lastLatitude_, _lastLongitude_ but in each case i get positive(+) values. For **South** and **West**, values should be negative.
 Can you suggest any way, I need to draw boundary using these

[2017-12-18 10:14] jnyrup commented on #95
What are the minimum and maximum values of {starting, last}{latitude, longitude}?
I have seen data providers represent longitude in either [-180;180) or [0;360).
The few datasets I have been working with have always represented latitude in [-90;90], but maybe yours is in [0;180]?

I just had a look at https://software.ecmwf.int/wiki/display/ECC/ecCodes+version+2.5.0+released
and there seems to be

[2017-12-19 04:24] muteebali commented on #95
@jnyrup
1. We are getting these values in meta data of records.
2. Longitude values are not being incremented correctly, go outside of the range.
3. I am using GribApi.NET 1.0.0-beta4, is this version using ecCodes 2.5.0? if not then how can we add support for ecCodes 2.5.0 in GribApi.NET 1.0.0-beta4 source code?

[2017-12-19 07:21] jnyrup commented on #95
GribApi.NET 1.0.0-beta4 uses ecCodes 2.4.1.
I haven't successfully built GribApi.NET from scratch myself, but here are some observations:

* GribApi.NET depends on [GribApi.Native](https://github.com/0x1mason/GribApi.Native/).
* GribApi.Native has [GribApi.XP](https://github.com/0x1mason/GribApi.XP/) as a git submodule
* GribApi.XP has some notes on how to update ecCodes

[2017-12-19 20:30] 0x1mason commented on #95
In GRIB 2, longitude is 0-360. In GRIB 1 It's -180 to 180. It's part of the
spec. You can determine how to offset by checking the edition.

On Dec 18, 2017 4:42 AM, "muteebali" <notifications@github.com> wrote:

@jnyrup <https://github.com/jnyrup> @0x1mason <https://github.com/0x1mason>
Is there any way to find out the signed(+/-) boundary values of
latitude/longitude. As before, i am trying to ex

[2017-12-20 04:17] muteebali commented on #95
@0x1mason
I am using this file [20171215_054150_.zip](https://github.com/0x1mason/GribApi.NET/files/1574140/20171215_054150_.zip) In this case, i am getting out of range (Inappropriate) latitude values. Here is the code,

_using(var grib=new GribFile(filePath))
{
  foreach(var record in grib)
    {
        //Here my logic to store extracted data
    }
}_

[2017-12-20 19:06] 0x1mason commented on #94
Can you share your code?

[2017-12-20 19:26] 0x1mason commented on #95
Can you provide a link to the originating center's grid definition?

[2017-12-20 19:31] 0x1mason commented on #95
This issue was moved to GribApiDotNet/GribApi.NET#1

[2017-12-20 19:31] 0x1mason commented on #94
This issue was moved to GribApiDotNet/GribApi.NET#2

[2017-12-20 19:31] 0x1mason commented on #93
This issue was moved to GribApiDotNet/GribApi.NET#3

[2017-12-20 19:32] 0x1mason commented on #91
This issue was moved to GribApiDotNet/GribApi.NET#4

[2017-12-20 19:32] 0x1mason commented on #90
This issue was moved to GribApiDotNet/GribApi.NET#5

[2017-12-20 19:32] 0x1mason commented on #89
This issue was moved to GribApiDotNet/GribApi.NET#6

[2017-12-20 19:32] 0x1mason commented on #88
This issue was moved to GribApiDotNet/GribApi.NET#7

[2017-12-20 19:33] 0x1mason commented on #85
This issue was moved to GribApiDotNet/GribApi.NET#8

[2017-12-20 19:33] 0x1mason commented on #83
This issue was moved to GribApiDotNet/GribApi.NET#9

[2017-12-20 19:33] 0x1mason commented on #82
This issue was moved to GribApiDotNet/GribApi.NET#10

[2017-12-20 19:33] #82 closed

[2017-12-20 19:33] 0x1mason commented on #79
This issue was moved to GribApiDotNet/GribApi.NET#11

[2017-12-20 19:33] 0x1mason commented on #78
This issue was moved to GribApiDotNet/GribApi.NET#12

[2017-12-20 19:34] 0x1mason commented on #77
This issue was moved to GribApiDotNet/GribApi.NET#13

[2017-12-20 19:34] 0x1mason commented on #75
This issue was moved to GribApiDotNet/GribApi.NET#14

[2017-12-20 19:34] 0x1mason commented on #74
This issue was moved to GribApiDotNet/GribApi.NET#15

[2017-12-20 19:34] 0x1mason commented on #73
This issue was moved to GribApiDotNet/GribApi.NET#16

[2017-12-20 19:34] 0x1mason commented on #72
This issue was moved to GribApiDotNet/GribApi.NET#17

[2017-12-20 19:36] 0x1mason commented on #57
Issue moved to https://github.com/GribApiDotNet/GribApi.NET

[2017-12-20 19:36] #57 closed

[2017-12-21 01:54] IdahoSixString commented on #88
This is only possible if the degrib process was written in a managed language. Otherwise there is no other way to load dll's into SQL clr.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eric Millin <notifications@github.com>
Sent: Wednesday, December 20, 2017 1:04:09 PM
To: GribApiDotNet/GribApi.NET
Cc: Robert; Comment
Subject: Re: [GribApiDotNet/GribApi.NE

[2017-12-21 22:31] 0x1mason commented on #88
@IdahoSixString I don't have any experience with SQL Server, but it sounds like at least some versions allow pinvoke. https://stackoverflow.com/questions/32290350/how-to-unload-native-dll-loaded-using-dllimport-attribute-from-sql-server

[2017-12-22 06:19] muteebali commented on #95
@0x1mason
i am downloading GRIB files using third party tool **ZYGRIB**.
Has this issue been resolved ?

[2017-12-22 08:55] rong736 opened #96 "use a grib2 file wih 80 levels data"
[24003.zip](https://github.com/GribApiDotNet/GribApi.NET/files/1582049/24003.zip)

string fileFullName = @"D:\temp\Z_NWGD_C_BABJ_20170623140411_P_RFFC_SNWFD-ER03_201706230800_24003.GRB2";
            using (GribFile file = new GribFile(fileFullName))
            {
                Console.WriteLine(file.MessageCount);
              }
output:1
but my grib2 file has 80 levels

![tim 20171222165509](h

[2017-12-22 09:01] jnyrup commented on #96
What version of GribApi.NET are you using?
If you're using 0.7.1, please try out GribApi.NET 1.0.0-beta4.

If upgrading doesn't solve your problem, can you provide access to the grib file?

[2017-12-22 09:11] rong736 commented on #96
with 1.0.0-beta4  and net461
please see the attach file

[2017-12-22 09:32] jnyrup commented on #96
Please *don't* try to send me a 270mb file over email.
Can you upload the file somewhere and send me a link or another way provide me access to it?
My email is my github username name and then gmail.com.

[2017-12-22 09:39] rong736 commented on #96
@jnyrup
[24003.zip](https://github.com/GribApiDotNet/GribApi.NET/files/1582049/24003.zip)
uploaded
thanks!

[2017-12-22 21:48] jnyrup commented on #96
I tried decoding your file with [wgrib2](www.cpc.ncep.noaa.gov/products/wesley/wgrib2/).
Apparently it often decodes files when gribapi fails to do so.

`wgrib2.exe -V -Sec3  -Sec4 -Sec5 -end  24003.GRB2`

[code]

It seems ecCodes [parameter database](http://apps.ecmwf.int/codes/grib/param-db) don't know about apcp/"Total Precipitation", but only apcpn/"Total precipitation (nearest grid point)".

[2018-01-01 04:32] muteebali commented on #95
@jnyrup @0x1mason
have you found any issue with above mentioned file ?

[2018-01-08 19:18] ericbmartin commented on #57
Hi, I really appreciate you looking into this, I do not have a deep understanding of the GRIB file formats, but running the dump program as you suggested gives the resulting key dump below.  Based on the other post you linked, it does not look like the keys (I think) you suggested looking into are defined, so they are defaulting to some value.

The only info I could find on these values, again tha

[2018-01-17 23:18] DarinMacRae commented on #78
Why was this issue moved to #12? I'm asking because I'm translating Grib to GeoJSON and am curious about what your future plans are. I didn't see any reference to that in the target issue.

[2018-01-17 23:30] 0x1mason commented on #78
@DarinMacRae I was moving the repos around and that got left over. Fixed.

[2018-01-17 23:34] DarinMacRae commented on #78
👍 No problem and thanks for the quick response.

And thanks for this library!!

[2018-01-23 02:21] lwisdomnova opened #97 "GridCoordinateValues does not allow access to data in DWD GRIB2 file"
Hi there,

I've written a program that takes a GRIB2 file and writes specified parameters to a csv. I'm using the latest beta of GribApi.NET. The program works perfectly with a Bureau of Meteorology ACCESS-R file (can be found [here](ftp://ftp.bom.gov.au/register/sample/access/grib2/ACCESS-R/single-level/)) but does not with a DWD ICON file (can be found [here](ftp://opendata.dwd.de/weather/icon/g

[2018-04-04 13:06] maeneak opened #98 "Edit Key Values"
Is there anyway to edit parameterName and shortName? Im getting readonly errors when using:
`msg["parameterName"].AsString("New Value")`

[2018-04-12 01:29] rong736 commented on #96
#84
![default](https://user-images.githubusercontent.com/4462023/38651455-ed5ce0d8-3e33-11e8-82f2-6d05fb7266ab.png)

[2018-04-12 01:29] #96 closed

[2018-04-17 13:49] vabed opened #99 "Hi, I have a problem using Grib.Api in Azure Functions project. When I call GribFile constructor everything goes right"

[2018-04-17 14:07] vabed opened #100 "A problem using Grib.Api in Azure Functions project"
When I call GribFile constructor at first time everything goes fine, but when I try iterate throught it application breaks down and exit.
`  using (GribFile file = new GribFile(@"file_name.grib2"))
            {
                var msg = file.First();
            }`
It all looks similar to issue #22

[2018-04-17 14:08] #99 closed

[2018-04-17 21:27] jnyrup commented on #100
Your title mentions Azure Functions, does that mean that you don't have any problem when running your program on a local machine?

"Application break down" sounds like an unhandled expcetion, that causes the program to terminate.
If that is the case, try wrapping the code in side a `Try/Catch` to see which type of exception is thrown and what the exception message is.

What version of GribApi do y

[2018-04-18 08:13] vabed commented on #100
When I use it in Console project everything works. I surround this code with Try/Catch but it doesn't throw any exceptions and application just break down (maybe exception throws on lower levels). I use version 0.7.1 and I also looked at #52 but there used version 1.0.0

[2018-04-18 09:00] jnyrup commented on #100
Please try upgrading to newest beta to see if that solves your problem.
There once was a problem with uncatchable exceptions being thrown, but that should have been solved.

[2018-05-10 18:21] vabed commented on #100
I have updated the package to beta version, after it I can run functions on my local PC but when I publishing on Azure and call the function the exception about Environment shows
`GribEnvironment::DefinitionsPath must be a valid path. Please see GribApi.NET's documentation for help. Path:`

[2018-05-11 06:51] jnyrup commented on #100
What is the value of `GribEnvironment.DefinitionsPath`?
Is the folder `Grib.Api` correctly copied from the nuget package to the code you deploy?

The message you see indicates that GribApi.NET could not locate the `definitions` folder.

[2018-05-11 11:26] vabed commented on #100
The value for GribEnvironment.DefinitionsPath looks like string.Empty from the exception message. Yes I copy Grib.Api folder to the wwwroot folder on Azure Functions and Grib.Api folder contains definitions folder, but it all doesn't help, I still get the same mistake

[2018-05-11 12:40] jnyrup commented on #100
Have you to explictly set `GribEnvironment.DefinitionsPath` to the absolute path pointing to `Grib.Api/definitions`?

GribApi.NET has some heuristics to search for the definitions folder, but it won't do an exhaustive search for it.

[2018-05-11 12:45] vabed commented on #100
Yes, it helps. But now I face the same problem as here #52. As I understand the solution is to manually copy Grib.Api.Native.dll to bin folder?

[2018-05-11 13:02] RudyCo commented on #52
Hi, I managed to use Grib.Api with a WebJobs app (Functions rely on WebJobs behind the scene).
In order to do this, you need to copy the full Grib.Api folder to Azure and reference this folder in your code.

[2018-05-11 13:07] jnyrup commented on #100
Glad it helped.
To my knowledge there is no "official" way to make it work.
If it was me, I would add a link in the csproj file to the right `Grib.Api.Native.dll` to force it being copied to the root of the `bin` folder.

[2018-05-13 14:58] vabed commented on #100
I hurried up with results(
`           GribEnvironment.DefinitionsPath = @"D:\somepath\wwwroot\Grib.Api\definitions";
            log.Info("defPath: " + GribEnvironment.DefinitionsPath);`
when I run this code on AzureFunctions logs show me
`2018-05-13T14:45:31.214 [Info] defPath:`
and then I still get an exception about `GribEnvironment::DefinitionsPath must be a valid path`.
It looks like setter

[2018-05-15 13:20] vabed commented on #100
UPD: I achive running beta-4 on Azure Functions, but setter for DefinitionsPath is still doesn't work.

[2018-05-15 13:28] jnyrup commented on #100
Could you put a few words on how you got it working?
It will help others with similar problems.

[2018-05-15 15:21] vabed commented on #100
OK, maybe not all of this steps are obligatory but it helps me
1. Copy Grib.Api folder from nuget packages on your local PC to  .../site/wwwroot/ on Azure.Functions. Your could use Kudu for it.
2. Set Global Environment variables on Azure Functions GRIB_API_DIR_ROOT:"D:\home\site\wwwroot\Grib.Api"
GRIB_DEFINITION_PATH:"D:\home\site\wwwroot\Grib.Api\definitions".
3. Put Grib.Api.Native.dll from ..\

[2018-06-02 07:53] mostafasabzi opened #101 "wind speed and wind direct"
how i can extract wind speed and wind direct from grib file?

[2018-06-25 20:09] jarzynka opened #102 "SetValues() creating incorrect double data"
Using GRIB2 file from NWS NDFD, wish to load data, do some grid algebra then save to a new grib2 file.  using Values() from message successfully extracts grid point data to double[].  SetValues() creates incorrect data values.  From GridCoordinateValues(), Ex. 9999 becomes 10009.7.  Was thinking byte order or float <-> double translation might be off?

Data source: [http://tgftp.nws.noaa.gov/SL.us

[2018-07-09 14:53] rizzlekik opened #103 "Create a GRIB file from scratch"
Hi,

I set up the GribApi in my solution. I achieved to read a GRIB file properly. So far, so good!

However, my problem is that I want to build a file from the ground up.
I did not find any test showing this kind of example since it always use an existing GRIB file.
I don't even know if it is possible.

I tried to create a GribMessage in order to fill it with the needed information but there is n

[2018-08-18 15:39] Bukesta commented on #20
Hello Eric. I am receiving the same error in an ASP.net solution. I have installed through package manager and used NuGet to install the Grib.Api.Native package, but still receive the following error:

{"Could not find Grib.Api.Native. If you're using ASP.NET or NUnit, this is usually caused by shadow copying.
Please see GribApi.NET's documentation for help.":null}

Could you please advise if I am

[2018-10-01 22:18] IdahoSixString commented on #64
@0x1mason Just as a heads up. I have a new 2016 and the VC++ 2013 redis does not solve the problem with the latest you must use VC++ 2015 redis .

[2018-10-04 22:19] IdahoSixString commented on #102
@jarzynka Any update on this?
@0x1mason Any progress on this?

[2018-10-31 08:53] dirtgambitcp opened #104 "Steam instead of file"
Can we please get the functionality for opening streams of grib files instead of paths

[2018-12-13 00:35] bobasaurus opened #105 "Not getting correct variable names from NOAA GFS model file"
I'm trying to load a test file from the NOAA GFS model output:

ftp://nomads.ncdc.noaa.gov/GFS/analysis_only/201812/20181201/gfsanl_4_20181201_0000_003.grb2

I can view all the variable names correctly in a GRIB data viewing program (Panoply), but when I open the file with GribApi.NET it seems to get the message name field from the "Grib2_Parameter_Name", which is the case for total ozone:

![tota

[2018-12-13 15:36] bulutakkol commented on #103
I have the same problem. @rizzlekik  if you find any solution could you share it?
thanks in advance.

[2018-12-14 00:27] bobasaurus commented on #105
I may have just misunderstood how these files are parsed.  If I search for the ParameterShortName of "o3mr", I get 17 messages (one for each isobaric2 level).

[2018-12-17 11:52] SiiwY opened #106 "Problems with releasing RAM."
RAM memory is not released. I create REST Api and a large number of requests hangs the application.
<br/>
![image](https://user-images.githubusercontent.com/24372059/50085114-6be27b00-01f9-11e9-907c-e5953ac34a13.png)
<br/>
![image](https://user-images.githubusercontent.com/24372059/50085136-79980080-01f9-11e9-8850-dcb3f60f2787.png)
<br/>

![image](https://user-images.githubusercontent.com/24372059

[2018-12-17 13:09] jnyrup commented on #106
Please try to upgrade to the newest 1.0.0-beta4, to see if that resolves your problem.
Note that `GeoSpatialValue` is deprecated in the new version, in favor of `GridCoordinateValue`.

[2018-12-17 13:46] SiiwY commented on #106
I have made it according to your suggestion, it seems to me that it is worse than it was.

![image](https://user-images.githubusercontent.com/24372059/50090777-e0bdb100-0209-11e9-8c1d-169614cd54df.png)

[2018-12-17 14:50] jnyrup commented on #106
Have you tried making a fresh console application, that *only* calls `GetWave`?
E.g. try the following and see if memory is still not being released.

[code]

If you're still seing memory problems, take a snapshot of the memory.
![image](https://user-images.githubusercontent.com/919634/50094356-524e2d00-0213-11e9-80f0-2b50c793ac15.png)
This should give better insights in what objects are not being

[2018-12-18 10:33] SiiwY commented on #106
![image](https://user-images.githubusercontent.com/24372059/50138710-b3bbdd80-029f-11e9-965f-256bfd7aa64b.png)
It seems to me that the release of memory in this case also works with a delay.

[2018-12-18 11:21] jnyrup commented on #106
Try making a snapshot when the memory usage is high, and one once the memory usage is low again.
Then on the second snapshot you should be able to click "diff", to see what objects were released.

[2018-12-19 12:47] SiiwY commented on #106
![image](https://user-images.githubusercontent.com/24372059/50221080-52c20180-0394-11e9-90f8-052f8c40326c.png)

![image](https://user-images.githubusercontent.com/24372059/50221144-84d36380-0394-11e9-979b-71fafb5d1942.png)

Is this enough information?

[2018-12-19 13:10] jnyrup commented on #106
Looking at those screenshots, I see no sign of a memory leak, only the expected fluctuating memory usage of opening, reading and disposing a grib file.

Can you share the grib file?

Otherwise let's make some better dumps:

[code]

[2018-12-19 13:16] SiiwY commented on #106
ftp://polar.ncep.noaa.gov/history/waves/multi_1/201811/gribs/multi_1.glo_30m.tp.201811.grb2

It will be easier to make the file available to you. Thank you for your huge support.

[2018-12-19 14:57] jnyrup commented on #106
After 1500 iterations of the loop the memory usage is "stable" at ~125 mb.
But I explicitly needed to call `GC.Collect()` after each iteration, otherwise I got a memory allocation exception after just 44 iterations, as the memory usage was ~4gb.

I stabilized the memory usage by caching the `Message`s to avoid opening the `GribFile` over and over again.
[code]

[2018-12-20 07:24] SiiwY commented on #106
Thank you very much for the example solution. Unfortunately, your suggestion will not work in my case. I need to read one value from this file and forget about it. Example: I had about 12 hours on the page "latitude = 55 length = 333". I would like to get the wave height from this place. It is not necessary to keep the entire file in memory. :(

[2018-12-20 08:17] jnyrup commented on #106
not necessary or not possible?

Caching is always a cpu/memory compromise.

[2018-12-20 08:43] SiiwY commented on #106
Thank you for your help. Maybe we did not understand a bit. I had a problem that unused objects were not released. What with a large number of requests occupied the entire RAM. I have forced free objects to be released using GC.Collect () ;. And now the application works fine. I wanted to avoid manual release of unused objects.

[2018-12-20 09:27] jnyrup commented on #106
I agree that calling `GC.Collect()` isn't optimal and shouldn't be necessary.
I wonder why the garbage collector doesn't seem to kick in earlier.
I'll try to dig more into this.
If I haven't provided any status updates within a month, please poke me.

[2018-12-20 09:43] SiiwY commented on #106
Thank you very much for your support! Your help is invaluable.
I will be waiting for the status update. :)
Best regards, SiiwY

[2018-12-21 08:16] rizzlekik commented on #103
Hi!

Sorry for the late reply. I found out how to do it.
You cannot actually create a GRIB file yourself. However, you can take a sample and then, fill it with you data. At least, that's how I made it work.

[code]

In the code above, you initialize the GribContext with this method:

[code]

Then you have to create your messages by filling a `List<GribMessage>`.
I used the method below:

[code]

T

[2018-12-29 23:10] jnyrup commented on #106
I found the culprit and a better workaound.

`GribMessage` implements `IDisposable` and `GribFile` implements `IEnumerable<GribMessage>`.
When enumerating a `GribFile` each `GribMessage` should be properly disposed.
When calling e.g. `Linq.First(predicate)` the `GribFile` is enumerated, and `GribMessage`s are created, but only the returned `GribMessage` can be disposed from user-code.

A better wo

[2019-01-04 08:29] SiiwY commented on #106
Thank you for your time to resolve this matter. I invoke GC and after running the tests the application works correctly. I believe that the information will be useful to other users. Thank you again.

[2019-01-25 15:36] greigs commented on #73
This would be hugely useful. .NET Standard 2.0 preferred.

[2019-08-07 10:07] HeB-zz opened #108 "Get some data from grb file"
Hello,
First, thanks for your api.
I try to get the name of my file but it is unknown because the "parameter_name" is empty.
I see it in the tool "Panoply". But, in this tool, I can see one "description" and "long_name".

How can i get this data from your API ?

Thanks

[2021-03-26 23:03] crexperts opened #109 "the type initializer for gribApi threw an exception"
Hi dear,

I am getting "the type initializer for gribApi threw an exception" error on some PC's but on some others the app working well!
would you pls help me?

[2021-04-27 07:28] gHashFlyer opened #110 "Dead Link"
but you'll find **grib_api's** wiki, helpful.

Page Not Found

The page you were trying to reach could not be found: it may have been renamed or moved to another space, or the name you requested may be incomplete.

[2021-05-28 06:48] dharminnwa commented on #103
Hi @rizzlekik

Your implementation seems interesting.
I want to try it to convert one of my CSV file with WaterTemp data to GRIB file.
Can you please provide me structure for "GribName"?
Can we use "GribName" in some other way?

Thank you.

[2021-08-12 18:37] Wicrules opened #111 "Not loading all data for isobaricInPa"
I am attempting to read a GRIB2 file -https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/gfs.20210812/12/atmos/gfs.t12z.pgrb2full.0p50.f000 and to retrieve the isobaric wind data for both the u and v components.  Looking at this file in Panoply, I can see it contains all of the data I want (at all isobaric surface Pas from 1 to 100000).

![image](https://user-images.githubusercontent.com/8885

[2021-08-13 20:54] IdahoSixString commented on #111
@Wicrules  You might need to set the field EnableMultipleFieldMessages to true. I think by default it is set to false.

It is on the GribContext.

[2021-08-13 21:30] Wicrules commented on #111
Thanks for getting back with me.  I'm pretty sure I tried that already and it didn't seem to make any difference.  I'll try it again just to double-check, however.
Chad
    On Friday, August 13, 2021, 03:56:44 PM CDT, Robert ***@***.***> wrote:

@Wicrules You might need to set the field EnableMultipleFieldMessages to true. I think by default it is set to false.

It is on the GribContext.

—
You ar

[2021-08-16 11:59] Wicrules commented on #111
OK, enabled multiple field messages and I'm getting the same results:

gribFile = new GribFile(files.First());
gribFile.Context.EnableMultipleFieldMessages = true;

var results = gribFile.Where(m => m.ParameterShortName == MESSAGE_WIND_U_SHORT_NAME && m.TypeOfLevel == "isobaricInPa");

![image](https://user-images.githubusercontent.com/88852620/129560338-cb06d95b-44b3-44d0-bb5d-06c8d6538a43.png)

[2021-08-25 15:17] schuky83 commented on #105
Hi,
I'm working on NOAA files too.

I too can't extract the "long_name" and "Grib2_Parameter_Name" fields.

Have you succeeded?

[2021-09-06 16:07] danbo0001 opened #112 "Any Plans To Make A .NET Core Version?"
as title

[2022-03-14 21:11] AquaNerd commented on #112
This would be fantastic considering we would then take advantage of all the latest cloud infrastructure on non-windows based hosts.